[2021-03-11 20:22] kanishka-work opened #130 "Integrate Manual into the site"
The OCaml Manual is hosted on ocaml.org, and we need to style it to match the site. Also we want to enhance the rendering to include features like a table of contents in a left navbar. This might need to get split into multiple issues, but for now we think the following tasks are required:

* Understand the recent work in https://github.com/ocaml/ocaml/pull/9755.
* Summarize a strategy for address

[2021-03-17 02:36] kanishka-work opened #194 "Implement "Language: Papers" component"

[2021-05-11 22:13] kanishka-work opened #333 "Create a Lang module"
We will need to tag data with the language its written in. We will also need to dispatch logic basic on an indicated language value. Let's be prepared for those scenarios by introducing a `Lang` module which has constants for the current set of languages that ocaml.org supports.

We will mostly likely use `react-intl` when implementing internationalization support, so considering imitating how it

[2021-05-12 18:11] kanishka-work opened #343 "Create module type signature for page modules"
Context: This refactoring is part of a series of refactorings to standardize the implementation of NextJS page module. (A nextjs page module is a combination of logic for fetching data at build time as well as a React component rendering the "main content" area of the page with the previously fetched data). The final refactoring in a later issue may involve defining a variant for all possible page

[2021-05-25 12:10] avsm opened #382 "Fix key generation in header navigation code"
See https://github.com/ocaml/v3.ocaml.org/pull/376#discussion_r638175430 and a followup to #339

[2021-06-10 04:00] kanishka-work opened #423 "Remove alias for React.string"
As for your comments about `let s = React.string` and `module Link = Next.Link`, the answer is yes. We tend to avoid creating aliases in the first place because they can obfuscate the code through indirection....

_Originally posted by @rdavison in https://github.com/ocaml/v3.ocaml.org/pull/393#discussion_r645767128_

[2021-06-29 23:13] rdavison opened #458 "Pages should have access to params"
Pages should have access to the params because they often contain important information, such as the language that the page is in. Components need to know this information in order to create links to other pages.

[2021-07-14 18:51] rdavison opened #479 "Replace 404.re with 404.js"
ReScript seems to be unable to export a default value when the name of the module begins with a number, such as in the module `404.re`. One solution is to create a `404.js` file which references another module (`src/FourZeroFour.res`). Unfortunately, this solution *also* doesn't work because something (bsb?) is automatically deleting `404.js`.  Therefore, we had to implement it as `404.res` using

[2021-07-23 08:22] patricoferris opened #487 "Move tutorials to their own subpath in resources"
Currently the tutorials are found at `/resources/<tutorial-slug>`, as suggested in #485 it might be better to have them under `/resources/tutorials/<tutorial-slug>` which also feels more natural given we now have the `/resources/tutorials` index page too.

[2021-07-23 15:12] kanishka-work opened #490 "Update the link to "Install OCaml" on the homepage"
- [ ] Please update the link to "Install OCaml" on the homepage

_Originally posted by @kanishka-work in https://github.com/ocaml/v3.ocaml.org/issues/445#issuecomment-868724186_

[2021-07-23 15:13] kanishka-work opened #491 "Stop specifying postcss explicitly in package.json"
Please add a note inside of package.json, so that other people understand why postcss is explicitly pinned.

_Originally posted by @kanishka-work in https://github.com/ocaml/v3.ocaml.org/pull/445#discussion_r664728862_

Update: Let's repurpose this issue to track removing postcss pinning from package.json once tailwindcss has become stable enough to work with various versions of postcss.

[2021-07-23 16:54] rdavison opened #492 "Document Components in Storybook"
Right now we have some components of the component library factored out, but it's not easy to see at a glance what they are and what they look like.  Recently a page was added, `pages/storybook` which begins the process of documenting the components.  We need to go through all the components of our library and render them on the page and give examples.

[2021-08-04 10:26] ILeandersson commented on #480
I have created two versions, one more minimal
<img width="349" alt="Screenshot 2021-08-04 at 11 21 19" src="https://user-images.githubusercontent.com/73180976/128165338-d927a902-1447-4546-a588-b69285eac5be.png">
and one that's bigger, maybe could be used on wider screens?
<img width="530" alt="Screenshot 2021-08-04 at 11 21 26" src="https://user-images.githubusercontent.com/73180976/128165529-f379

[2021-08-07 05:51] rdavison opened #498 "Improve styling of storybook page"
Some styling improvements should be implemented in the storybook page. For reference, see the following PR comments.

https://github.com/ocaml/v3.ocaml.org/pull/482#discussion_r675915122

https://github.com/ocaml/v3.ocaml.org/pull/482#discussion_r675916315

https://github.com/ocaml/v3.ocaml.org/pull/482#discussion_r675923778

https://github.com/ocaml/v3.ocaml.org/pull/482#discussion_r679644028

[2021-08-12 03:36] rdavison opened #514 "Cleanup Potpourri"
Noticed a bunch of minor inconsistencies and issues that could be lumped together.  Broadly, the cleanup that needs to be done is the following:

- Fix inconsistencies between related component arguments.  For example `marginBottom` using a strong type but `marginTop` using `string`
- Remove `React.string` function alias
- Convert variants to polymorphic variants and delete some type definitions t

[2021-08-12 12:51] kanishka-work commented on #423
This is being tracked in #514.

[2021-08-12 12:51] #423 closed

[2021-08-12 12:58] #514 closed

[2021-08-14 08:50] kanishka-work commented on #487
This was done in #503.

[2021-08-14 08:50] #487 closed

[2021-08-14 16:40] kanishka-work commented on #490
@renatoalencar This is the related issue.

You can also remove "resources/basics".

[2021-08-29 12:11] wokalski opened #517 "Add source for the "OCaml in numbers section" #79"
I know it's based on the survey. INRIA created a detailed breakdown of the survey. The % points without the source send a very weak message. The opposite would be true if the source was provided.

[2021-08-30 03:02] cdaringe commented on #490
🤚

[2021-08-30 03:34] cdaringe opened #519 "Reduce large assets"
# Problem

- camel image needs to be compressed
- bundle JS is enormous for static content. looks like all of the tutorials are inlined, and more. finer module resolution is likely needed for each per-page next.js compilation

![image](https://user-images.githubusercontent.com/1003261/131281258-fb65024b-d345-4e2c-b78c-6c21bbc14a6c.png)

[2021-08-30 05:11] kanishka-work commented on #519
Without looking into the specifics of this bundle, my first reaction is wonder whether keeping the data in OCaml modules (which ultimately become javascript modules) ends up hurting the built in mechanisms for data splitting. So, although getStaticProps may only produce one tutorial's worth of data at a time, something in the `Tutorial.make` function is still referencing the OCaml module and webpa

[2021-08-30 05:45] #490 closed

[2021-08-30 05:50] kanishka-work commented on #490
We may want to enhance the Route module to allow for adding string fragments or even compile time checked fragments. I will make note of this in the open ood issue.

[2021-08-30 06:45] cdaringe commented on #519
I’ll have to take a peek later, but iirc when I popped open the tutorial JS module, it was not ESM. We need each tutorial ad a top level ESM export and Tutorial.make to produce specific symbol imports, and we should be set

[2021-08-30 07:07] kanishka-work commented on #519
I am hoping we can avoid that, since anything that is only referenced in getStaticProps is not supposed to be included in the generated bundle.

I am hoping the solution ends being that we just need to define one more data type knows how to access the Ood.tutorial fields, but isn't defined within the generated ocaml modules. We'll see!

[2021-08-30 08:57] renovate[bot] opened #520 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Pin dependencies](../pull/504) (`@rescript/react`, `@tailwindcss/forms`, `@tailwindcss/typography`, `autoprefixer`, `bs-platform`, `concurren

[2021-09-01 11:43] kanishka-work commented on #517
The implementation of this issue will involve two steps:

1. Extend the stats component to include a citation area
2. Make use of the updated component to add citations in the homepage instantiation of the stats component

[2021-09-02 03:54] kanishka-work opened #521 "Remove temporary code before launch"
I temporarily made use of mastodon instead of twitter, duckduckgo instead of google, and sourcegraph instead of github. We should use the real websites once we go live.

[2021-09-02 14:29] rdavison opened #522 "Remove Tailwind module"
Despite my best efforts to make it less so, the Tailwind module continues to require writing code that is overly verbose.  I believe we should replace it with a simpler abstraction.

Then simplest abstraction is to just have no abstraction, and just use the CSS classnames directly as strings; and at one step higher on the abstraction chain, we can define simple variants such as:
[code]

For extern

[2021-09-03 14:42] ILeandersson opened #523 "Language Page 1st Version"
This is a first look at the new Language page, please review it for content and what, if anything, still needs to be added to it
<img width="548" alt="Screenshot 2021-09-03 at 15 35 15" src="https://user-images.githubusercontent.com/73180976/132023393-8055eefe-931a-4503-8245-7ed904dba6ee.png">
<img width="538" alt="Screenshot 2021-09-03 at 15 35 26" src="https://user-images.githubusercontent.com/7

[2021-09-03 14:51] ILeandersson opened #524 "Applications Page 1st Version"
This is a first look at the new Applications page, please give feedback on what if anything needs to be included or changed
<img width="765" alt="Screenshot 2021-09-03 at 15 37 08" src="https://user-images.githubusercontent.com/73180976/132023977-42f74b09-5243-4f8b-b549-19a8355e67dc.png">
<img width="578" alt="Screenshot 2021-09-03 at 15 37 24" src="https://user-images.githubusercontent.com/731809

[2021-09-03 14:53] ILeandersson opened #525 "Packages 2nd Version"
This is an updated version of the package site
<img width="625" alt="Screenshot 2021-09-03 at 15 35 56" src="https://user-images.githubusercontent.com/73180976/132025295-68feee76-2753-46c2-a105-62442b247dde.png">
<img width="624" alt="Screenshot 2021-09-03 at 15 36 08" src="https://user-images.githubusercontent.com/73180976/132025300-e0d32c7d-90c8-40eb-8c0e-fa55b169b416.png">

[2021-09-03 14:59] ILeandersson opened #526 "Best Practices Version 1"
This is a first look at the new "Best Practices" or "Best Known Methods" page, please give feedback on what if anything could be changed or added
<img width="662" alt="Screenshot 2021-09-03 at 15 37 43" src="https://user-images.githubusercontent.com/73180976/132025618-b6698a2e-4eaf-4b14-852c-5b9fb75c2d5c.png">
<img width="661" alt="Screenshot 2021-09-03 at 15 37 52" src="https://user-images.github

[2021-09-03 19:47] kanishka-work commented on #525
We may want to track this in https://github.com/ocaml-doc/voodoo?

[2021-09-05 15:39] ulugbekna opened #527 "Add "created/updated at <date>""
It would be great to have "created/updated at <date>" on various pages, especially for the v3.ocaml.org/packages because it's unclear whether the package doc is up-to-date or not. The "created date" for articles when they are published on the website would be nice.

[2021-09-05 19:45] rdavison commented on #492
After merging #482 and #516 the Storybook page now contains 96 examples of the following 46 components:

* StoryCard.CornerTitleLogo
* StoryCard.CornerLogoCenterTitle
* ShortWideCard
* CallToAction.Embedded
* CallToAction.Simple
* StackedList.BasicWithIcon
* StackedList.BasicWithAuxiliaryAttribute
* TitleHeading.Large
* TitleHeading.OverBackgroundImage
* TitleHeading.MarkdownMedium
* MediaObject.S

[2021-09-07 06:53] cdaringe commented on #522
this is essential for the purgecss algorithm to kick in anyway, ya?

[2021-09-07 09:23] patricoferris commented on #527
Thanks for the feedback @ulugbekna :)) This indeed sounds like a good idea, given how the repositories are separated there are couple of changes here I think.

1. For v3.ocaml.org/packages this is something for v3.ocaml.org-server. At the moment we have a bit of inconsistency between the opam-repository commit that the doc generating pipeline uses and the one v3.ocaml.org-server uses to provide pa

[2021-09-07 10:07] ILeandersson opened #529 "Proposed Page for OCaml Workshop 2021"
This is the current design for the page on the OCaml Workshop 2021. Please let me know if any information needs to be updated

<img width="537" alt="Screenshot 2021-09-07 at 10 51 30" src="https://user-images.githubusercontent.com/73180976/132324798-3adecbf0-80b8-40f9-af8b-63f815ecd91c.png">
<img width="538" alt="Screenshot 2021-09-07 at 10 51 03" src="https://user-images.githubusercontent.com/731

[2021-09-07 15:07] rdavison opened #530 "Disambiguate Blog and Blog2 modules"
We currently have two modules which represent something about blogs.  We should identify what the differences are and decide on whether the two modules should either be merged, or whether one of the modules should actually be renamed.

[2021-09-07 15:09] rdavison opened #531 "Resolve warnings in Storybook"
Currently when one visit the storybook page, the console logs a lot of warnings.  Most of them appear to be related to failing to pass a `key` attribute to arrays of React components.  We should aim to resolve all the warnings.

[2021-09-07 16:38] rdavison opened #532 "Create component library documentation"
Create a document that explains how to work with the component library.  Currently we have components that serve to main kinds of purpose:
- Supports creation of new page types
- Supports creation of new pages

I need to document what differences are, and perhaps create a Quickstart tutorial to help onboard new developers more easily.

[2021-09-07 16:44] rdavison opened #533 "Change BlogCard to not throw exceptions"
Currently, some of the examples of the BlogCard component have shown that if the component is called with fewer than 3 elements, it will throw an exception, and with more, it will ignore the additional components: https://github.com/ocaml/v3.ocaml.org/blob/fcb5351b89114cdfb2444c16249c44f67461be3b/pages/storybook.res#L996-L1065

We should limit the arguments so that the BlogCard component can only

[2021-09-07 16:54] rdavison opened #535 "Update VerticalHighlightCard to take a Link instead of a Route"
The VerticalHighlightCard currently takes a Route.t as an input argument, however, I believe this is too limiting.  It should be possible for the button to link to an external address, but Route.t only models internal addresses.

[2021-09-07 17:34] kanishka-work commented on #534
Markdown rendering has always happened at an earlier phase in page generation (either during getStaticProps or as part of a pre-build step), so the component should probably have been named "PrerenderedPage.Body."

[2021-09-07 23:23] rdavison commented on #522
They just need to be represented as strings *somewhere* in your code, it doesn't necessarily have to be within a component.  So you could do things like:
[code]

Then you don't actually pass around the strings, but the variants.  The one thing the docs caution against is constructing CSS classes programmatically.  So, no concatenation allowed. This would be an example of the kind of code that woul

[2021-09-07 23:26] patricoferris commented on #519
Thanks for reporting this @cdaringe and @kanishka-work, quick disclaimer I'm not super familiar with the JS/ES6 world but I did a little bit of digging on this.

Ultimately I think the problem is stemming from the `Pages.Make/Pages.MakeSimple` abstraction. If you revert back to `f9444c8a01a3bd40a8509770c4a705ce0d1ec09c` when we were still writing things by hand (see https://github.com/ocaml/v3.oca

[2021-09-07 23:42] rdavison opened #536 "Make components more self contained"
Arguments to factor out:
- [x] Margin
- [x] Colspan (grid and colspan should be together in the same scope)

In an effort to make components entirely self-contained, I propose we remove/rename all arguments to a component which affect it *externally*.  For instance `margin` really shouldn't be a property of the component, and should really be controlled by the user of the component through an exte

[2021-09-07 23:44] kanishka-work commented on #519
I like that you clarified that the output was generated by Rescript and Patrick (:.

[2021-09-08 17:36] rdavison commented on #522
Did a [QA pass](https://github.com/ocaml/v3.ocaml.org/pull/528#issuecomment-915364203) of the pages before merging, and it looks like deleting the Tailwind module ended up fixing a bug I hadn't even realized I introduced related to the CSS purging.

[2021-09-09 14:06] rdavison opened #538 "Fix bundle size"
Reported in https://github.com/ocaml/v3.ocaml.org/issues/519#issuecomment-914690486

TODO: Write out full description in detail.

[2021-09-10 16:37] rdavison commented on #333
Merged https://github.com/ocaml/v3.ocaml.org/pull/540

[2021-09-10 20:04] rdavison commented on #530
Turns out Blog was the Blog page, and Blog2 was actually a preview, which I renamed to BlogCard.

[2021-09-13 14:38] #492 closed

[2021-09-13 14:38] #522 closed

[2021-09-13 14:39] #536 closed

[2021-09-13 14:39] #333 closed

[2021-09-13 14:39] #530 closed

[2021-09-13 14:39] #533 closed

[2021-09-13 14:39] #531 closed

[2021-09-13 14:39] #458 closed

[2021-09-13 14:41] rdavison opened #546 "Rename BlogCard -> BlogCards"
The current implementation of BlogCard is incorrectly named. We should factor it out to make it clear that a BlogCard is actually composed of multiple individual cards.

[2021-09-13 14:47] rdavison opened #547 "Is the Blog page correct?"
When I look at `pages/community/blog.res` it appears to implement something more like a News page, or a News Archive.  I see we also have a `pages/community/newsarchive.res` file, which appears to be stubbed out. Should `blog.res` actually be renamed to `newsarchive.res`?

[2021-09-14 13:20] rdavison commented on #498
The linked comments haven't been addressed as the Storybook page has changed since this issue was created. At this time, however, we believe the Storybook page looks reasonably good.

[2021-09-14 13:20] #498 closed

[2021-09-14 13:23] rdavison commented on #343
The main work of this issue was completed on Jun 16th, with the merging of PR #438. The issue has not been closed because of the outstinding review comment which is being addressed below:

-----

Explaining features of ReScript/OCaml is out of scope for the documentation in this project.

[2021-09-14 13:23] #343 closed

[2021-09-14 17:20] kanishka-work commented on #343
I understand this sentiment. The reason why I asked for this particular documentation is because the syntax is not documented on rescript-lang.org, so it will be hard to onboard new contributors, who will probably want to understand the Page functor implementation, after they start using it. I usually aspire to provide a breadcrumbs for people when I use an undocumented feature of a library or lan

[2021-09-17 13:31] kanishka-work commented on #491
This issue is not essential. It would make the package.json simpler. I am closing to reduce noise.

[2021-09-17 13:31] #491 closed

[2021-09-21 15:29] tmattio opened #104 "Complete redirections from V2"
#103 introduced a redirection module that maps the URLs from V2 to their new location in V3. While some of the URLs are already handled (the tutorials), there are still some URLs that need to be mapped.

[2021-09-21 15:59] patricoferris opened #105 "Support code highlighting in tutorials"
Now that ood is within this repository we have a some more freedom to decide how to do this. I'm personally in favour of improving/rewriting (and probably vendoring) something like https://github.com/patricoferris/hilite and doing this statically. This let's us:

 1. High-light anything vscode can (dune, opam, ocamlformat etc.) see https://github.com/ocamllabs/vscode-ocaml-platform/tree/master/syn

[2021-09-21 16:02] tmattio commented on #105
Related to https://github.com/ocaml/v3.ocaml.org-server/issues/99 - we probably want the same solution for both

[2021-09-21 16:11] tmattio commented on #105
Hilite seems very nice! I like that it allows us to do the highlighting from the server!

If it's still unreleased, feel free to add it in `src/` directly, the same way I did with `gettext`. Ultimately, I'd like to release it independently, but I'll come back to it when it is stable in ocaml.org.

[2021-09-22 11:55] kanishka-work commented on #479
This issue will become irrelevant, so I am closing.

[2021-09-22 11:55] #479 closed

[2021-09-22 12:02] kanishka-work commented on #382
This issue will become irrelevant as the navigation implementation is changed.

[2021-09-22 12:02] #382 closed

[2021-09-22 12:12] kanishka-work commented on #130
This issue is superseded by https://github.com/ocaml/v3.ocaml.org-server/issues/93.

[2021-09-22 12:12] #130 closed

[2021-09-22 12:19] ghost commented on #105
From my limited understanding, I don't think we have ever implemented code highlighting in the browser. In prior and proposed implementations, it was run as a final phase of markdown processing at build time.

[2021-09-22 13:26] kanishka-work commented on #194
The remaining tasks for this issue will change with the different approach to html rendering, so I am closing this issue.

[2021-09-22 13:26] #194 closed

[2021-09-23 09:13] patricoferris commented on #105
Initial work done in #108

[2021-09-23 09:13] #105 closed, assigned to nobody

[2021-09-27 09:04] tmattio opened #119 "Turbo drive conflicts with toplevel loading"
When navigating to the homepage from another page, the top-level does not initialize properly. Presumably, this is caused by Tubo Drive loading of the page.

[2021-09-27 14:27] patricoferris commented on #119
Indeed. I did a bit of digging into this and the fix doesn't look simple...

The current issue is using `window.onload` which doesn't happen once turbo gets a hold of things. Instead you can add an event listener to the `document` for [`"turbo:load"`](https://turbo.hotwired.dev/handbook/building#observing-navigation-events). So something like:

[code]

But our `run` function is not idempotent so t

[2021-09-27 14:29] tmattio commented on #119
I've been experiencing other minor issues with Turbo Drive on other pages. Maybe we can disable it altogether and revisit it when we're optimizing the performance of the website.

[2021-09-27 14:32] patricoferris commented on #119
What kind of things? JS related ones or something else? If it's causing more hassle atm then sure, or just disable it on the pages it's causing issues on?

[2021-09-30 17:07] tmattio commented on #119
I think this is fixed in #125, closing now.

[2021-09-30 17:07] #119 closed, assigned to nobody

[2021-10-04 02:16] hyphenrf opened #129 "Suggestion: a custom interactive toplevel with limited functionality"
Many of the conventional functionalities provided by an ocaml toplevel (like #cd), and some of the Stdlib modules (like Sys), aren't really suitable for a quick interactive taste of the language. They only add noise to the experience.
A clean, minimal, limited and focused design may improve the user experience (and prevent certain things which may crash a conventional toplevel, see #127)

ocamlmkt

[2021-10-04 13:41] panglesd commented on #130
I updated the changelog with an entry for this PR!

[2021-10-04 13:49] tmattio commented on #130
Thanks a lot! 🎉

[2021-10-05 18:42] patricoferris opened #136 "Add functori to companies"
To resync with https://github.com/ocaml/ocaml.org/pull/1609 cc @cagdasbozman

[2021-10-05 21:05] #136 closed, assigned to nobody

[2021-10-05 21:16] tmattio opened #139 "Add Mirage and Dune retreats to events"

[2021-10-10 02:12] rgrupesh commented on #104
@tmattio I would like to work on this issue. What specific redirect should I specifically looking for? Any pointers to get started?

[2021-10-10 09:05] tmattio commented on #104
Hi @rgrupesh 🙂 That sounds like a great first issue. The list of redirections to add can be seen at https://github.com/ocaml/v3.ocaml.org-server/blob/main/src/ocamlorg_web/lib/redirection.ml. The `???` are the ones that are yet to be handled. To find the equivalent route, I'd recommend looking at the router at https://github.com/ocaml/v3.ocaml.org-server/blob/main/src/ocamlorg_web/lib/router.ml, i

[2021-10-11 08:08] rgrupesh commented on #104
Thank you for these links @tmattio . I found some of the route and added those to the `redirection.ml`. I am having trouble finding all the routes. Are all required `.md` files present in data directory? Should I be expecting to find all the routes?

And what is the difference between `release` and `releases`? Are they two different urls?

What should be an ideal workflow? One workflow example wou

[2021-10-11 08:22] tmattio commented on #104
@rgrupesh Some of the routes won't be available in the new website, that's ok and you can redirect these to the homepage (i.e. `/`).

Don't hesitate to open a draft PR and I can help you to identify which page should have redirections and which one shouldn't.

`releases` contains the list of releases (see https://v3.ocaml.org/releases) and `release` is the content of a single release (see https://

[2021-10-11 15:23] patricoferris opened #153 "Refactor `location` type to a single `Location.t`"
Currently we use `type location` in two places

 - https://github.com/ocaml/v3.ocaml.org-server/blob/21a140f9f7133ab9878a48add71276a7cc6ecebd/tool/ood-gen/lib/academic_institution.ml#L1
 - https://github.com/ocaml/v3.ocaml.org-server/blob/262808e10d52e9d79320425f94756cc0385d1482/tool/ood-gen/lib/meetup.ml#L1

It would be nice to refactor this into a standalone, reusable module as I'm sure we might

[2021-10-11 15:32] MuluhGodson commented on #153
@tmattio @patricoferris
With regards to this, the location has two variables, lat and lon.
Would that be something like :

[code]

[2021-10-11 19:36] tmattio commented on #153
@MuluhGodson Yup, it looks like that's the type it should have

[2021-10-12 09:46] patricoferris opened #154 "Loading symbol as toplevel worker is loaded"
Currently, on the home page we have one javascript file for the toplevel which is loaded immediately. This sets up some of the core UI functionality. After clicking on `Click to load toplevel` this loads in a web worker that runs the actual toplevel executions of OCaml expressions.

There's a brief moment where the web worker hasn't fully loaded but is now interactive (i.e. we have set `disabled`

[2021-10-13 09:14] tmattio opened #157 "Implement a basic monitoring dashboard"
We currently have no visibility on the performance of the server, which pages are most visited, if errors happen, etc.

To offer some visibility, we can implement a basic monitoring dashboard that would provide:

- Metrics such as:
  - Memory
  - CPU
  - Open file descriptors
- Statistics such as (check if GDPR compliant first!):
  - Requested URIs
  - User agents
  - Language
- Logs

https://gith

[2021-10-13 11:29] TheLortex opened #158 "SEO: robots.txt, sitemap.xml and noindex"
The goal is to control and optimize how the website can be accessed from search engines. There are several methods to achieve that:

### robots.txt

This file describes how the site can be crawled by search engine bots: https://developers.google.com/search/docs/advanced/robots/intro

### sitemap.xml

This can be useful to expose the list of pages if we want the search engine to know about document

[2021-10-13 11:52] tmattio commented on #158
We already have a robots.txt file here https://github.com/ocaml/v3.ocaml.org-server/blob/main/asset/robots.txt. It's not available when querying https://v3.ocaml.org/robots.txt, that's a bug.

[2021-10-14 16:32] desirekaleba commented on #158
Querying [https://v3.ocaml.org/assets/robots.txt](https://v3.ocaml.org/assets/robots.txt) is returning the right robots.txt.

[2021-10-16 16:08] chinwepr commented on #154
Hi Patricoferris. i am am outreachy applicant. please can i work on this issue?''

[2021-10-16 21:05] oabdulhamid1 commented on #153
Hi @tmattio can I work on this project?

[2021-10-18 08:56] tmattio commented on #154
@chinwepr Is your environment set up already? We're asking applicants to get up and running before being assigned to an issue.

[2021-10-18 11:16] gs0510 commented on #153
@oabdulhamid1 Is your environment set up already? We're asking applicants to get up and running before being assigned to an issue.

[2021-10-18 12:17] oabdulhamid1 commented on #153
Hi,

Yes I already set up my environment.

On Mon, Oct 18, 2021, 12:16 Gargi Sharma ***@***.***> wrote:

[2021-10-18 12:20] gs0510 commented on #153
@oabdulhamid1 Sure in that case you can go ahead and work on this :)

[2021-10-18 15:10] chinwepr commented on #154
@tmattio   I'm setting my environment up but I'm getting an error when I run make switch.

I'm using windows 10. I installed the graphical installer for Ocaml for windows, forked and cloned the repository. But when I run make switch in the project folder I get the following error message "opam switch create . 4.13.0 --no-install
process_begin: CreateProcess(NULL, opam switch create . 4.13.0 --no-i

[2021-10-18 15:25] patricoferris commented on #154
Hi @chinwepr :))

With windows you'll have much better luck if you use WSL2, this will run a Linux environment on windows (OCaml does not *officially* support windows... yet!). Here are some instructions:

 - Installation: https://docs.microsoft.com/en-us/windows/wsl/install
 - Editor support: https://code.visualstudio.com/blogs/2019/09/03/wsl2
 - Our old site has some useful docs about using WSL2

[2021-10-18 15:49] chinwepr commented on #154
Thanks very much @patricoferris. I'll try it out right away and give you feedback

[2021-10-19 11:09] chinwepr commented on #154
Hi @patricoferris I'm trying to set up my environment but I keep getting the error "The following actions failed
│ λ build ocaml-base-compiler 4.11.1.  ocaml-base-compiler.4.11.1 troubleshooting <><><><><><><><><><><><><><><><>
=> A failure in the middle of the build may be caused by build parallelism
      (enabled by default).
      Please file a bug report at https://github.com/ocaml/opam-repos

[2021-10-19 11:15] patricoferris commented on #154
Thanks for trying to get setup :)) When hitting problems like this it is _always_ useful to provide as much information as possible (whatever you think is obvious probably isn't) so for example:

 - Is this using WSL2 or something else?
 - What command did you run to end up with this error? What series of commands were there prior to this and did they all work?
 - Is this the full error, on Github

[2021-10-19 12:23] chinwepr commented on #154
Thanks for the response. I installed ubuntu 20.04 LTS on wsl2.

After that I installed opam using sudo apt-get install opam.

Then I followed the guide on installing Ocaml given at [](https://v3.ocaml.org/tutorials/up-and-running-with-ocaml#installing-ocaml) and ran opam init and then opam switch create 4.11.1 and ended up with the following error

[code]

[2021-10-19 12:29] patricoferris commented on #154
Thanks! This is much more useful and I can see the problem (I think...) straight away. I think for WSL2 you need to `opam init --disable-sandboxing` because the `bwrap` sandboxing is not supported (the old v2 docs explained that a little: https://github.com/ocaml/ocaml.org/blob/master/CONTRIBUTING.md#windows-some-common-errors-while-building-the-site-using-wsl).

Also once `opam init --disable-san

[2021-10-19 18:18] chinwepr commented on #154
Hello. I followed the instructions. I ran opam init --disable-sandboxing and make switch. When I ran make start I got the error command not found 'dune'

[code]

[2021-10-19 19:08] patricoferris commented on #154
It looks like `make switch` didn't complete without errors -- was that the case ? I'm guessing this because the error points to missing dependencies (i.e. no `dune`). You can try `make deps` and paste any errors you come across. It's always useful to check whether or not a command you ran completed correctly by reading the output and you can also check the return status of the previous command you

[2021-10-19 21:15] chinwepr commented on #154
The command `make deps` finished with the following error report

[code]

And the command `echo $?` returned 0

[2021-10-19 21:46] patricoferris commented on #154
Was this the case? It looks like no compiler was installed at all given `make deps` from this error message is trying to install a `4.13.0` compiler (the `make switch` step should have already done this, see here: https://github.com/ocaml/v3.ocaml.org-server/blob/main/Makefile#L36). This is also I think just the tail-end of the error log, it would be useful to get the whole thing (pasted here or i

[2021-10-20 09:58] chinwepr commented on #154
@patricoferris Thanks for being really helpful. `make switch` actually completed with the following error
[code]
Below is the full error message returned by `make deps`
[code]

[2021-10-20 09:59] tmattio opened #165 "Releases links are broken"
The releases have been imported as-is and the relative links are currently broken. We need to update the links to redirect to the correct URL.

[2021-10-20 10:08] patricoferris commented on #154
No worries, we'll work it out soon! Ah I see, so the `--disable-sandboxing` won't update the existing opam configuration if you have already init-ed unless you ask it to do so (I know this from experience :)). I think you have two options:

1. Run `opam init --reinit --disable-sandboxing`
2. Start completely from scratch with WSL2 and run `opam init --disable-sandboxing`

Then try again. Even with

[2021-10-20 11:08] Angelvicks commented on #165
Hello @tmattio , can I work on this issue please?

[2021-10-20 11:12] tmattio commented on #165
Sure, that sounds good @Angelvicks. Let me know when your environment is set up and I'll assign you 🙂

[2021-10-20 16:50] patricoferris opened #166 "Handle trailing slash"
Currently most of the pages 404 when there's a trailing slash, I think commonly web pages either still provide the implicit `index.html` file or do a redirection either to or from the trailing slash version. For example https://v3.ocaml.org/users is fine but https://v3.ocaml.org/users/ 404s, this was most noticeable for me when looking at packages like https://v3.ocaml.org/p/conan which redirects

[2021-10-20 21:55] Angelvicks commented on #165
hello @tmattio I succeeded in setting up my environment using this links as guide https://github.com/ocaml/v3.ocaml.org-server/blob/main/CONTRIBUTING.md , Do I have to do anything else before working on this issue?

[2021-10-20 21:58] Angelvicks commented on #165
if the answer is no, please I will more information on how I can successfully work on this issue?

[2021-10-20 22:09] patricoferris commented on #165
Hi @Angelvicks thanks for getting set up :))

The issue wants to convert all links in the releases to point to something in v3.ocaml.org. For example look at the markdown of this release page https://raw.githubusercontent.com/ocaml/v3.ocaml.org-server/main/data/releases/en/4.09.1.md it links to a relative path `4.09.0.html` so if you try and use it https://v3.ocaml.org/releases/4.09.1 you'll see i

[2021-10-21 08:31] Angelvicks commented on #165
hello @patricoferris , after clicking on the link https://v3.ocaml.org/releases/4.09.1 , I did not see 404s so I am wandering how to update links when its not broken. Please can u throw more lights on this issue?

[2021-10-21 08:34] patricoferris commented on #165
The link to 4.09.0 _on the 4.09.1_ page 404s, sorry if I wasn't clear :))

[2021-10-21 08:56] Angelvicks commented on #165
Please I still don't understand. I verified the links in the markdown, https://raw.githubusercontent.com/ocaml/v3.ocaml.org-server/main/data/releases/en/4.09.1.md and it points to github issues. My question is how then can I correct the broken link inside the 4.09.1 page, must it be done through the code that I setup locally or from github using the markdown code?

[2021-10-21 09:17] desirekaleba commented on #166
Hi @tmattio, Can I try this, please?

[2021-10-21 09:19] patricoferris commented on #165
This first part contains an incorrect link:

[code]

There is no route in our server that will match `4.09.0.html`, there are quite a lot of examples like this.

Both really, you can't test that your links work without having it setup locally but a majority of the corrections will be in the markdown yes. But you could also maybe add things to the routing logic to point to say the latest `4.X` rele

[2021-10-21 10:16] tmattio commented on #166
Hi @desirekaleba 🙂 It looks like a good issue to get started, but let's wait for you to be up and running before I can assign you: we're asking applicants to have their environment ready before assigning them issues.

[2021-10-21 10:20] desirekaleba commented on #166
Sure @tmattio, I tried setting up my development environment  following the [contributing guide](https://github.com/ocaml/v3.ocaml.org-server/blob/main/CONTRIBUTING.md) but I am getting an error saying `Failed to get sources of pecu.0.6: "/usr/bin/cp -PRp /tmp/opam-162262-ca2c6c/pecu-v0.6/.gitignore
        /tmp/opam-162262-ca2c6c/pecu-v0.6/.ocamlformat /tmp/opam-162262-ca2c6c/pecu-v0.6/.travis.ym

[2021-10-21 12:25] chinwepr commented on #154
Hi @patricoferris I followed step 1 above; deleted `~/.opam/` directory, ran `opam init --reinit --disable-sandboxing` and ended up with the same error.

Then I got a different laptop installed Ubuntu 20.04 LTS on it, followed step 2 but yet ended up with same exact issue. I don't know, there must be something I'm missing

[2021-10-21 14:36] patricoferris commented on #154
Hmm strange, I just tried it cleanly on a windows machine and here's my experience:

 - Opened command prompt with admin and ran `wsl --install` and rebooted
 - Filled in various ubuntu specific questions after reboot to setup a user
 - Ran `sudo apt-get update` to update system packages (probably not required)
 - Ran the [opam install script](https://opam.ocaml.org/doc/Install.html#Binary-distrib

[2021-10-21 19:07] chinwepr commented on #154
I followed this procedure, step by step, and it worked.

My environment is now set up and I am now ready to start making contribution. I am looking forward to learning as much as possible about this project also.

Thanks very much @patricoferris

[2021-10-22 08:59] oabdulhamid1 commented on #153
Hi,

Kindly check my contribution I have push to GitHub.

Regards

On Mon, Oct 18, 2021, 13:20 Gargi Sharma ***@***.***> wrote:

[2021-10-22 09:12] patricoferris commented on #153
Hi @oabdulhamid1,

Could you make a PR of your work to this repository please. It makes it easier to review and will also try to build on our CI too ?

Thanks :)

[2021-10-22 09:20] oabdulhamid1 commented on #153
Hi,

Not yet will try that.

Regards

On Fri, Oct 22, 2021, 10:13 Patrick Ferris ***@***.***> wrote:

[2021-10-22 10:15] desirekaleba commented on #166
Hi @tmattio, I am now up and running. I am requesting if I can be assigned to this issue.

[2021-10-22 10:18] tmattio commented on #166
Sure @desirekaleba, assigning you now

[2021-10-22 10:19] desirekaleba commented on #166
Should I get more light on it, please?

[2021-10-22 10:21] tmattio commented on #166
FYI, as @patricoferris hinted, I think the best way to solve this is by creating a middleware. Reading the code, we already have one that does that here: https://github.com/ocaml/v3.ocaml.org-server/blob/main/src/ocamlorg_web/lib/middleware.ml#L1, so this issue is about investigating why it doesn't work.

[2021-10-22 10:30] desirekaleba commented on #166
I am currently looking at that. But before I proceed, Can you please suggest a good vs code extension for .ml extensions?

[2021-10-22 10:33] patricoferris commented on #166
https://github.com/ocamllabs/vscode-ocaml-platform is the recommended one, in VSCode I believe it is still called OCaml Platform or something like that

[2021-10-22 10:35] desirekaleba commented on #166
I have it up and running now. Thank you @patricoferris.

[2021-10-22 14:29] oabdulhamid1 commented on #153
Hi,
PR made.

Regards

On Fri, Oct 22, 2021 at 10:19 AM Oduola Hammed Bayonle <
***@***.***> wrote:

[2021-10-22 16:24] desirekaleba commented on #166
@tmattio, I have been looking for a way to fix this and I have just noticed that the middleware (`no_trailing_slash`) is only running when you hit home("/").

[2021-10-24 17:58] Angelvicks commented on #165
Hello @patricoferris , After days of research, I am still trying to find out how to solve this issue. Its not really clear to me. Sorry if its taken too long, I have never fixed broken links before.

[2021-10-26 11:12] Angelvicks commented on #165
Hello @tmattio and @patricoferris Please help me review my pull request. thanks

[2021-10-28 21:13] paurkedal opened #553 "Expired certificate"
I know the site is not officials yet, but you might want to know that the Let's Encrypt certificate for v3.ocaml.org expired yesterday.

[2021-11-01 15:56] #553 closed

[2021-11-02 09:00] #104 closed, assigned to rgrupesh

[2021-11-04 09:02] desirekaleba commented on #158
Hi @tmattio,
Can I please be assigned to this?

[2021-11-04 14:33] desirekaleba opened #179 "Duplicate contents: Zeo Agency"
When navigating to [`/users`](https://v3.ocaml.org/users) At the very bottom, one of the industrial users, Zeo Agency, is duplicated.   The first image(duplicate) is broken which can be removed.

[2021-11-04 14:36] #179 closed, assigned to nobody

[2021-11-05 12:07] #158 closed, assigned to desirekaleba

[2021-11-05 13:36] desirekaleba commented on #157
@tmattio, Can you please break this down for me? I would like to work on it.

[2021-11-05 13:58] tmattio commented on #157
Hi @desirekaleba 🙂 This issue is a bit large, it's a several weeks project on its own, so maybe not the best candidate for a small issue

[2021-11-05 14:43] desirekaleba opened #180 "Tutorials image links are broken"
Going to [`/tutorials`](https://v3.ocaml.org/tutorials), all images are broken.

This is due to the asset loader updates which now point to `/`. Both `tutorials_template.eml` and `tutorial_template.eml` are using the `/tutorials/` route but the first one (`tutorials_template.eml`) trying to load the assets and the last one (`tutorial_template.eml`) loading the actual tutorial based on its slug.

S

[2021-11-05 14:59] desirekaleba commented on #157
@tmattio, I get that. I just wanted to challenge myself a bit harder 😆 .

[2021-11-05 17:09] #180 closed, assigned to nobody

[2021-11-13 17:32] tmattio commented on #166
Done in #170

[2021-11-13 17:32] #166 closed, assigned to desirekaleba

[2021-11-18 17:21] chicken-biryani opened #554 "Documentation - CONTRIBUTING.md - Improvement."
Hello,
I believe the sections under the [Contributing.md](https://github.com/ocaml/v3.ocaml.org/blob/master/CONTRIBUTING.md) document can be improved.

Here are a few suggestions -
1) Linking - While reading, a person may want to jump directly to the repository and sites that have been mentioned but would have to browse which may get a little annoying.
2) Reducing the use of Passive voice and Indi

[2021-11-18 17:45] tmattio commented on #554
Hi @chicken-biryani! Thanks a lot for the suggestions. I agree that improving the contributing guide would be very valuable, so any contribution would be more than welcome 🙂

[2021-11-21 16:37] chicken-biryani commented on #554
Hey @tmattio, here's a [rough outline for the Contributing.md. ](https://hackmd.io/v-rib3nKQoaIu83t8Ng6uA).

If there are any additions, modifications, requirements, and/or deletions please do let me know.

[2021-11-22 08:48] tmattio commented on #554
@chicken-biryani This looks really good, thanks 🙂

We have merged all the repositories under a single umbrella in the `v3.ocaml.org-server` repository. Would you mind opening a PR with the updated contributing guide there?

[2021-11-22 13:37] chicken-biryani commented on #554
Hey @tmattio I am a little confused- to my knowledge I don't think it's possible to make PR from one repository to another. If that is possible and is what is supposed to be done then please let me know, through a document or something that could help me?

Or do I have to make changes is v3.ocaml.org-server's Contributing.md?

Apologies. I have never made PRs across repositories so it;s a little c

[2021-11-22 13:59] tmattio commented on #554
Exactly, a single PR should be made on `v3.ocaml.org-server`, which updates the contributing guide there: https://github.com/ocaml/v3.ocaml.org-server/blob/main/CONTRIBUTING.md

[2021-12-17 09:00] cdaringe commented on #519
`$ convert oc-sq-full.jpeg -resize 800x800 -strip -define jpeg:extent=50KB  oc-sq-lg.jpeg`

github didn't reprocess it _too_ much, at approx 48KB (96% reduction)
![oc-sq-lg](https://user-images.githubusercontent.com/1003261/146517189-e00a6f3a-d242-42b5-a96b-d230a3d69519.jpeg)

`$ convert oc-sq-full.jpeg -resize 400x400 -strip oc-sq-sm.jpeg`

<20KB

![oc-sq-sm](https://user-images.githubusercontent

[2021-12-19 01:37] cdaringe opened #556 "make build fails with `ls: src//Import.resi: No such file or directory`"
# Problem

[code]

# Research

I executed a git bisect process and traced this down to `5d3c440e6ca61602eb9cdfca900c30cacecdfbb6`.

Repro:

[code]

makes sense. the associated commit was titled "require interface files", and Import has no interface file.

[2021-12-20 10:37] panglesd commented on #194
I don't think tags use "exact" (as opposed to "substring") matching, and I would say it's most of the time fortunate:
- we want `tag:mirage` to match `org:mirage` tags (there is no plain `mirage` tags)
- we want `tag:html` to match package `vg`, which has no `html` tag but an `html-canvas` tag
- we want `author:mattio` to match package with author `Thibaut Mattio`...

I agree that `description` an

[2021-12-20 13:17] tmattio commented on #194
Mmh, I see where you're coming from. I don't agree, but I guess there are trade-offs to both approaches. FWIW, GitHub special queries use the exact matches approach, but one differentiating factor is the number of available results. Given the number of packages on opam-repository, I'm fine going with your approach if you think it's best.

Yup, let's try to keep the special queries to a minimum unt

[2021-12-20 14:13] panglesd commented on #194
I removed description and synopsis special queries.

I'm not that opposed to making special queries "exact matches". If you want, I'll let you have the last word on this! :slightly_smiling_face:

[2021-12-22 08:54] tmattio commented on #194
This looks very good like this, we can change the behavior later if the benefits become more apparent.

Merging now, thank you! 🎉

[2021-12-30 12:38] patricoferris opened #201 "A11y: low contrast orange"
Through out the site we use an orange background with white text (e.g. for buttons) or the inverse (e.g. headings). As with the V2 version of the site (see https://github.com/ocaml/ocaml.org/issues/1199), this has a low contrast and fails web accessibility standards tests.

More concretely the "Get Started" button on the top right has a background colour of `#ee6a1a` with white text. Using somethi

[2022-01-05 00:37] lucas-deangelis opened #560 "Line breaks inserted into the markdown"
Newlines in paragraphs are replaced with line breaks (`<br>` tags) in the readme of the packages from opam. Here is a visible example, on the package [opam-publish](https://v3.ocaml.org/p/opam-publish/2.1.0):

![Screenshot from 2022-01-05 01-29-36](https://user-images.githubusercontent.com/55180995/148142127-68724612-628b-4b12-ab26-6c8db734ce9a.png).

I've quickly tested ood, and ood doesn't inser

[2022-01-05 01:11] lucas-deangelis commented on #560
Okay, after searching for a bit, this is one of the page that's served by Dream, using the template `packge_overview.eml` [here](https://github.com/ocaml/v3.ocaml.org-server/blob/bab2de83c1d9005f7d0025fc2310420847f6e819/src/ocamlorg_frontend/pages/package_overview.eml). The `render` function receives a `readme` and passes it to `<%s! readme %>`, which according to the Dream documentation is suppos

[2022-01-05 15:51] gadmm opened #203 "Some more documentation regression"
Stand-alone documentation pages are back, it's great. Here's another batch of comment regarding regressions in the package documentations:
* Missing title and first paragraph ([old](https://guillaume.munch.name/software/ocaml/memprof-limits/Memprof_limits/index.html) vs. [new](https://v3.ocaml.org/p/memprof-limits/0.2.0/doc/Memprof_limits/index.html); [old](https://guillaume.munch.name/software/oc

[2022-01-12 18:07] tmattio commented on #129
I'm not sure the problem this is solving or value this is adding, and this seems like a good chunk of work. Closing this for now, but feel free to continue the discussion in the issue.

[2022-01-12 18:07] #129 closed, assigned to nobody

[2022-01-14 15:48] avsm opened #227 "responsive isnt quite right for package sidebar"
<img width="1191" alt="image" src="https://user-images.githubusercontent.com/53164/149544159-8b49ff78-775c-4fcd-b872-a235bd93aea9.png">

In this, the sidebar is cut off -- I think the viewports need some tweaking to make sure that the sidebar disappears at the wider screen width.

[2022-01-16 18:34] xavierleroy opened #241 "Suggestions for the Books page"
These comments apply to the page https://v3.ocaml.org/books .

1- The book by Cousineau and Mauny, "The Functional Approach to Programming", is an excellent book but it's not really in OCaml.  Most of the code snippets "just work" in OCaml, but the book explicitly mentions Caml Light as its implementation language, and a couple of examples use the `where` notation from CAML.

2- The page misses a

[2022-01-16 18:34] xavierleroy opened #561 "Suggestions for the Books page"
These comments apply to the page https://v3.ocaml.org/books .

1- The book by Cousineau and Mauny, "The Functional Approach to Programming", is an excellent book but it's not really in OCaml.  Most of the code snippets "just work" in OCaml, but the book explicitly mentions Caml Light as its implementation language, and a couple of examples use the `where` notation from CAML.

2- The page misses a

[2022-01-17 00:58] mndrix opened #240 "Learn Guidelines: recommend ocamlformat, remove formatting text"
The [Best Practices](https://v3.ocaml.org/learn/best-practices) document recommends `opam install ocamlformat`. Much of what's recommended in the [Programming Guidelines](https://v3.ocaml.org/learn/ocaml-programming-guidelines) document is what ocamlformat already does automatically.  Would it be better to remove formatting guidelines and focus on guidelines that aren't automated (sections like Op

[2022-01-17 10:42] avsm commented on #241
Many thanks for the list, @xavierleroy. We'll get these on the new website.

[2022-01-17 10:43] avsm commented on #241
@tmattio -- for RWO, there will be a 2nd Edition (Cambridge University Press) in 2022. Might be worth just linking to dev.realworldocaml.org rather than the crufty old 2013 first edition.

[2022-01-17 11:41] avsm commented on #240
I'm in favour of that in principle, but a high-level question I have is how well the ocamlformat defaults implement the suggestions in the Programming Guidelines. It's worth checking that they're consistent, and then recommending ocamlformat.

cc @gpetiot

[2022-01-17 15:51] gpetiot commented on #240
We used to have an issue about that: https://github.com/ocaml-ppx/ocamlformat/issues/501
Some points are handled by the default behavior, some require to use a specific option.

However we are moving away from this option-centric usecase of ocamlformat, to try to use push a smaller set of behaviors (profiles) that have their own consistency, e.g.:
- print symbols/keywords on the left to avoid havi

[2022-01-17 16:12] mndrix commented on #240
I think that's an excellent direction. I use ocamlformat in its default configuration, even when it disagrees with the Guidelines or my personal preferences. I think that a consistent format is more important than which format is chosen; and ocamlformat's defaults are quite good.  I see the OCaml Programming Guidelines on the new website as an opportunity to encourage new users towards modern tool

[2022-01-19 17:14] avsm commented on #241
fixed in #246, just keeping open to order by publication date

[2022-01-26 11:38] #240 closed, assigned to nobody

[2022-01-30 13:10] patricoferris opened #260 "Vendor swiper js"
We vendor most JS libraries directly in the site to avoid pulling in things from third-party sites, but looks like this one slipped in by accident.

https://github.com/ocaml/v3.ocaml.org-server/blob/6bc9dce632bca5e210d941a742d72a25c52c2964/src/ocamlorg_frontend/layouts/layout.eml#L44

[2022-02-02 10:23] tmattio opened #262 "Tezos documentation is not generated"

[2022-02-02 14:19] #241 closed, assigned to nobody

[2022-02-03 14:28] tmattio commented on #260
Fixed in #268

[2022-02-03 14:28] #260 closed, assigned to nobody

[2022-02-03 14:39] tmattio commented on #154
This has been done I believe. Closing now.

[2022-02-03 14:39] #154 closed, assigned to nobody

[2022-02-03 14:40] tmattio commented on #153
I'd suggest waiting for it to be duplicated before we refactor. Let's close it and re-open when we want to do it.

[2022-02-03 14:40] #153 closed, assigned to nobody

[2022-02-05 02:43] yminsky opened #562 "Consider a more compelling example for the front page"
The current front-page example is a nice but impractical finger-exercise. It would be nice to have something more realistic.  Here's a kind of example that might be fun, which you could get if you linked in the lambdasoup package:

[code]

I think something like that could be a lot more compelling.

[2022-02-05 14:31] yminsky opened #563 ""Fast Compiler and Efficient Applications" image seems out of place"
This looks like a security-related graphic. I'm not sure it's the right feel even for that, but I don't see how it fits here.

![Screenshot from 2022-02-05 09-28-29](https://user-images.githubusercontent.com/715302/152645940-32862ed3-5039-4073-b854-303ff738e8ae.png)

[2022-02-05 14:42] yminsky opened #564 ""OCaml Packages" is a little confusing"
I think it's not ideal to have the "OCaml Packages" image be a miniature image of the OCaml packages page. I'm not sure what would be better: something based off of the opam logo? A graph of package growth? A list of packages by popularity? But the miniature opam page doesn't feel right to me.

![Screenshot from 2022-02-05 09-39-20](https://user-images.githubusercontent.com/715302/152646448-6f4589

[2022-02-05 14:58] yminsky opened #565 "List of industrial users is out of date"
At least some of the firms no longer exist on this page. MrNumber, for example, is long gone, cacaoweb is a dead link.

https://v3.ocaml.org/industrial-users

Might be worth some time just clicking on the individual links and removing ones that are no longer in existence.

[2022-02-08 11:22] tmattio opened #284 "The homepage toplevel is broken on Debian's Firefox 78.15.0esr"
Reported by @talex5 on Discuss

[2022-02-08 14:45] hyphenrf opened #287 "support other README formats"
similar to `README.md` and `README.org`(#30), some repositories use plaintext (just `README` or `README.txt`), `.rst`, `.markdown`, etc.. And some repos use `readme` or `Readme` instead of `README` Right now, such files aren't getting picked up in the package description.

[2022-02-08 15:55] tmattio commented on #287
Thanks @hyphenrf - closing as a duplicate of https://github.com/ocaml/v3.ocaml.org-server/issues/30

[2022-02-08 15:55] #287 closed, assigned to nobody

[2022-02-08 16:08] tmattio opened #288 "Add links to contribution guide for the job board and blog"
The job board and blog are using data that is intended to be maintained by the community. This isn't clear when looking at the blog and job board at the moment, however.

We should add sections to these pages that make it clear that the content is coming from the community, and link to contribution guides on how can one add their own job listing and RSS sources to these pages.

[2022-02-08 16:48] tmattio opened #290 "The strong community section on the homepage is broken on mobile"

[2022-02-08 16:49] tmattio opened #292 "Create Platform page in the documentation"

[2022-02-08 16:49] tmattio opened #293 "Right navbar doesn't scroll if larger that the page on documentation"

[2022-02-08 19:29] #227 closed, assigned to asaadmahmood

[2022-02-08 19:29] #290 closed, assigned to asaadmahmood

[2022-02-08 19:30] #293 closed, assigned to asaadmahmood

[2022-02-08 20:04] #292 closed, assigned to asaadmahmood

[2022-02-09 17:42] #165 closed, assigned to tmattio

[2022-02-09 17:51] tmattio opened #305 "Lorem Ipsum on Learn page"

[2022-02-09 17:52] tmattio opened #306 "Incorrect subtitle in the package page"
Under the Featured package the subtitle is incorrect:

[2022-02-10 21:05] code-ghalib opened #311 "Process for deciding who's on the front page?"
I'm wondering whether there's a community process or guidelines for who gets included on the v3.ocaml.org front page.

I think that part of the page serves as marketing mechanism for OCaml as a language/ecosystem - if you learn OCaml, you can land a job at X/Y/Z company.

It works the other way too of course, if you want to work in OCaml, come work for X/Y/Z company.

Is there already a process fo

[2022-02-10 21:56] tmattio commented on #311
Thanks @code-ghalib, that's a very important question 🙂

We don't have a specific process to decide which logos are included on the homepage. The general governance of the website is described at https://v3.ocaml.org/governance though, and that should give some ideas on how decisions are taken.

Even though we're getting close to the launch date, the website is still in preview at the moment, so t

[2022-02-10 22:22] #311 closed, assigned to nobody

[2022-02-14 12:45] #305 closed, assigned to tmattio

[2022-02-14 12:45] #306 closed, assigned to tmattio

[2022-02-15 08:09] #288 closed, assigned to nobody

[2022-02-15 23:06] tmcgilchrist opened #320 "Render authors without email address in search result"
The current search by author / maintainer doesn't seem to find all the packages for a person and / or doesn't provide paginated results. It looks like the author with and without email addresses returns different results.

eg https://v3.ocaml.org/packages/search?q=author%3A%22Tim%20McGilchrist%22 only shows aws packages but there are gitlab packages that should be there.
https://v3.ocaml.org/packa

[2022-03-02 14:10] tmattio commented on #333
Thanks @johnwhitington, I merged manually in https://github.com/ocaml/ocaml.org/commit/5359c39772508c29e0e1dcd0958d6138d5c7126f

[2022-03-03 06:21] axrwl opened #336 "Read online link for OCaml from the very Beginning"
In the [books](https://v3.ocaml.org/books) page, a new button should be added under _OCaml from the very Beginning_ to point the reader to the free versions - [PDF](https://johnwhitington.net/ocamlfromtheverybeginning/mlbook.pdf) and [HTML](https://johnwhitington.net/ocamlfromtheverybeginning/index.html).

Currently the button points the readers to the amazon page for the same.

[2022-03-03 06:35] axrwl opened #337 "Homepage's toplevel can be improved"
The toplevel on [homepage](https://v3.ocaml.org/) has an input area which is re-sizable by the user. But this results in visual bugs such as :

<p align="center">
<img width="470" alt="Screen Shot 2022-03-03 at 11 56 12 AM" src="https://user-images.githubusercontent.com/22836245/156508680-93e98eee-28e7-4647-9494-c8542e56a53c.png">
</p>

To fix this, the textarea shouldn't be re-sizable by the user

[2022-03-03 06:44] axrwl commented on #320
Both of the links you have posted are same.

[2022-03-03 16:54] joanmh123 opened #339 "San Francisco Meetup link goes to New York's Meetup info"
https://v3.ocaml.org/community
In the Meetups area, the San Francisco Meetup links to NYC

[2022-03-08 11:11] tmattio commented on #336
This has been done in https://github.com/ocaml/ocaml.org/pull/333

[2022-03-08 11:11] #336 closed, assigned to nobody

[2022-03-08 11:55] joanmh123 opened #344 "Typographic issues: orphaned line breaks on Dune page."
https://v3.ocaml.org/p/dune/3.0.3
There are some inconsistencies of line breaks throughout the page. In several instances, the lines are breaking with widows of just one or two words on the next line, although there looks to be enough room on the previous line.

It's better to follow typography standards and avoid "widows and orphans" where possible so that the text is easy to read and looks profe

[2022-03-08 12:15] joanmh123 commented on #344
Looking closer, this issue also appears on
https://v3.ocaml.org/p/dream/1.0.0~alpha3
https://v3.ocaml.org/p/js_of_ocaml/4.0.0 (just one problematic break on this page)

[2022-03-08 13:22] tmattio commented on #344
The cause for this is that there are line breaks in the README of Dream, and Omd is inserting line breaks for these when transforming the markdown to HTML. IIUC, single line breaks in markdown shouldn't cause a line break in HTML, this is consistent with how GitHub renders the Markdown files.

This should be addressed upstream in [omd](https://github.com/ocaml/omd)

[2022-03-10 14:15] joanmh123 opened #347 "Inconsistent use of sentence/title case in Case Studies"
https://v3.ocaml.org/success-stories
Scroll down to the case study showcase areas. Three are using sentence case and one is using title case. We need to choose one style and use it everywhere on the site where-ever we use a header.

[2022-03-11 05:32] axrwl commented on #347
Whichever case gets chosen, don't forget to change the title on the respective success stories pages too.

[2022-03-11 12:57] joanmh123 commented on #347
Here's the list of inconsistencies and the suggested changes. It's a bit long. Thanks in advance for your patience.

~~In nav/header (top right all pages)~~
~~Search field:
Search OCaml packages
Change to:
Search OCaml Packages~~

~~Button:
Get started
Change to
Get Started~~

~~Footer(all pages)
About us: Change to:
About Us~~

~~Learn Page:
https://v3.ocaml.org/learn
A memory model for multicore

[2022-03-22 11:10] christinerose commented on #347
Fixed title case in layout.eml. PR: https://github.com/ocaml/ocaml.org/pull/367
Changed "99 Problems" to "Exercises" in learn_layout.eml. PR: https://github.com/ocaml/ocaml.org/pull/368
Fixed title case in academic_users.eml. PR: https://github.com/ocaml/ocaml.org/pull/369
Fixed title case in community.eml. PR: https://github.com/ocaml/ocaml.org/pull/370
(Crossing them out in @joanmh123's original

[2022-03-22 12:28] christinerose commented on #347
Fixed title case and some other line editing in industrial.eml. PR: https://github.com/ocaml/ocaml.org/pull/372
Line edits in learn.eml. PR: https://github.com/ocaml/ocaml.org/pull/373
Added serial comma to news.eml for consistency. PR: https://github.com/ocaml/ocaml.org/pull/374
Title case in not_found.eml. PR: https://github.com/ocaml/ocaml.org/pull/375

[2022-03-22 12:53] christinerose commented on #347
Title case in package_overview.eml. PR: https://github.com/ocaml/ocaml.org/pull/376
Title case in package_toplevel.eml. PR: https://github.com/ocaml/ocaml.org/pull/377
Title case, grammar, and syntax in packages.eml. PR: https://github.com/ocaml/ocaml.org/pull/378
Capiltalise Opam in packages_search.eml. PR: https://github.com/ocaml/ocaml.org/pull/379

[2022-03-22 13:19] christinerose commented on #347
Line edits for platform.eml. PR: https://github.com/ocaml/ocaml.org/pull/380
Changed "99 Problems" to "Exercises." PR: https://github.com/ocaml/ocaml.org/pull/381
Title case in tutorial.eml. PR: https://github.com/ocaml/ocaml.org/pull/382
Title case in up & running. PR: https://github.com/ocaml/ocaml.org/pull/383

[2022-03-22 15:03] christinerose commented on #347
Line editing for governance.eml. PR: https://github.com/ocaml/ocaml.org/pull/384
Line editing for privacy_policy.eml. PR: https://github.com/ocaml/ocaml.org/pull/385
Title case in meetups.yml. PR: https://github.com/ocaml/ocaml.org/pull/386
Line editing (some) and title case for papers.yml. PR: https://github.com/ocaml/ocaml.org/pull/387

[2022-03-22 15:28] christinerose commented on #347
Capitalised proper nouns in package names. PR: https://github.com/ocaml/ocaml.org/pull/388

I made a good dent in this today, but I can't find the following:
[code]

I'll look for more tomorrow

[2022-03-23 13:55] christinerose opened #389 "Create three columns on landing page"
Change the three (safe, build faster, work joyfully) sections to three columns near the top.

[2022-03-23 13:57] christinerose opened #390 "Redesign top menu"
Words to use in top menu for clear navigation from all pages

[2022-03-23 13:58] christinerose commented on #390
@ILeandersson & I to propose words for the top menu

[2022-03-23 15:07] joanmh123 commented on #389
Here's the UX design and updated copy for section two of the home page, replacing the area "Be Safe, Build Faster, Work Joyfully" https://www.figma.com/file/eDDhmcsKsoe70zWRDLpXlX/Home-page-suggestions?node-id=81%3A881

[2022-03-23 15:07] joanmh123 commented on #389
Link to Figma file above

[2022-03-23 15:11] joanmh123 commented on #389
assigning to Thibaut to get it into production

[2022-03-23 17:44] madhhuurrii opened #392 "DOC: dune build not working"
Hi there!
I have started learning Ocaml recently, was going through the official documentation for a headstart.
I noticed a problem while following this [tutorial](https://ocaml.org/learn/tutorials/up_and_running.html) i.e dune build throws an error when running. After a [quick check](https://stackoverflow.com/questions/71202746/ocaml-dune-build-error-after-running-dune-init-exec) I was able to fi

[2022-03-23 18:13] mooreryan commented on #392
For reference, there is a (merged) pull request https://github.com/ocaml/ocaml.org/pull/325 about this.

[2022-03-24 11:57] christinerose commented on #347
Title case & monospace in videos.yml. PR: https://github.com/ocaml/ocaml.org/pull/393
Title case in tools.yml. PR: https://github.com/ocaml/ocaml.org/pull/395
Title case in jobs.yml. PR: https://github.com/ocaml/ocaml.org/pull/396

[2022-03-24 15:53] christinerose commented on #347
I think I found where they were hidden! Those squares might be pulling from the separate documents. See if this fixes it.
PR: https://github.com/ocaml/ocaml.org/pull/397

[2022-03-24 16:09] christinerose commented on #347
Title case in the two mentioned book pages. PR: https://github.com/ocaml/ocaml.org/pull/398

[code]
**Not found on industrial_users.eml**
**Also did search throughout repo, and I didn't find it anywhere but on the academic page**

I think I got the rest of them. Please let me know if you see more!

[2022-03-27 22:37] arbipher opened #400 "the first line of the docstring in manual"
I am reading the document for `LTerm_dlist`.

The first line of the docstring is `(** Mutable sequence of elements (deprecated) *)` is at [line 10](https://github.com/ocaml-community/lambda-term/blob/27238e7b63bedae627d76e528119c93b0b0a60d7/src/lTerm_dlist.mli#L10) of the `mli` file.

In the v3 doc, this line is shown on the package index page (https://v3.ocaml.org/p/lambda-term/3.2.0/doc/index.ht

[2022-03-28 05:01] madhhuurrii commented on #392
Hey, Thanks for the reference. yet the updated docs throws the error. Certainly after addling a `dune-project` file I was able to solve the error.

[2022-03-28 05:06] madhhuurrii commented on #339
Hi @joanmh123  is this issue up for grab?

[2022-03-29 08:10] joanmh123 commented on #339
Hi Madhuri,
I think that Thibaut might have fixed it already?
 Thanks
J

On Mon, Mar 28, 2022 at 7:06 AM Madhuri Ramakrishnan <
***@***.***> wrote:

[2022-03-29 13:44] TheLortex opened #402 "Package documentation: the breadcrumbs disappeared !"
A year ago navigation breadcrumbs were implemented to facilitate navigation and help the user finding out the location of the module in the package hierarchy: https://github.com/ocaml/ocaml.org/pull/28

It's not clear when, but they disappeared. Unless something else is in preparation it would be nice to bring them back, as currently navigation in the documentation has become less practical.

[2022-04-02 11:29] art-w commented on #320
Another example: in the search results, clicking on the author link for [Daniel Bünzli](https://v3.ocaml.org/packages/search?q=author%3A%22Daniel%20B%C3%BCnzli%22) yields no results at all (because of the umlaut?)

[2022-04-02 11:53] art-w opened #405 "Package search: explaining the results"
My my this is so beautiful!.. I tried a few package searches but I didn't immediately understand all the results:

- Searching for [vg](https://v3.ocaml.org/packages/search?q=vg) yields a lot of results where it's not clear why they are related (it turns out that their author has an email `ivg@`). Perhaps the matches could be highlighted with `<mark>` for clarity?

- Searching for [json](https://v

[2022-04-04 07:57] nilsbecker opened #407 "compilation time graph on the landing page is useless"
the plot of compilation times https://v3.ocaml.org/img/home/workfaster.svg is lacking units on the y axis. that should be added as well as a rough spec of the processor(s) used to get the timing. this issue has been pointed out before in the discuss thread but has not been fixed. in its current form the plot feels like dishonest advertisement.

[2022-04-05 15:00] voodoos opened #408 "Content over menu in docs/patform"
https://user-images.githubusercontent.com/5031221/161783902-f482712f-9d93-4780-bbea-391d77f9f043.mov

[2022-04-11 05:14] tmcgilchrist opened #416 "Missing details on governance / about page."
The old version of the website had a section about the `Governance of this website` and a list of maintainers. See https://ocaml.org/about.html#Governance-of-this-website
Should there be an equivalent list of people on the new site?

The new website has `infrastructure@lists.ocaml.org` as a point of contact for ocaml.org infrastructure but there is no way to signup to the list (it seems to be in r

[2022-04-11 07:35] TheLortex commented on #402
What do you think about it @tmattio ?

[2022-04-13 08:53] samoht commented on #416
Yes we definitely need this on the new website.

[2022-04-13 11:34] tmattio commented on #416
We have a governance page here: https://v3.ocaml.org/governance which details the governance of the site.

While I agree it's important to have a governance page on the site, I think the list of contributors and maintainers can remain on the repository?

[2022-04-13 14:20] tmattio commented on #262
@jonludlam the latest version of the tezos doc that was built was 11.0.
Do you have any pointer on how we could investigate why the documentation didn't build for `11.1` and `12.0`.
Same thing for `ocaml.4.14.1`, and probably other packages. It'd be useful to have an overview of the packages for which the documentation couldn't be generated. Do we have something like this at the moment?

[2022-04-13 14:38] tmattio commented on #347
Seems like all the inconsistencies have been addressed, so closing this for now. Thanks a ton, @joanmh123 @christinerose!

[2022-04-13 14:38] #347 closed, assigned to nobody

[2022-04-13 14:40] tmattio commented on #343
Looks like this has been fixed already. Closing now, but let me know if there's anything else.

[2022-04-13 14:45] #339 closed, assigned to nobody

[2022-04-21 12:50] tmattio commented on #416
Closing for now, but feel free to re-open if you see anything missing from the link above.

[2022-04-21 12:51] tmattio commented on #284
Closing this as we've replaced the homepage toplevel with the playground in #424

[2022-04-21 12:51] #284 closed, assigned to nobody

[2022-04-21 12:54] tmattio commented on #157
An initial version of the dashboard has been implemented in #399

[2022-04-21 12:54] #157 closed, assigned to nobody

[2022-04-21 17:30] samoht commented on #416
Would be nice to at least link to the list of maintainers on the repository then. The goal is to make it easy for anyone to know who is maintaining the website or not but looking at that page.

[2022-04-25 22:39] ztatlock opened #432 "v3.ocaml.org doc reliability"
Howdy!  Thanks for all the great work on v3 -- looking very nice.

Just wanted to mention that some package's docs are not accessible, e.g., at the moment these all 500 for me:
* https://v3.ocaml.org/p/core/v0.15.0/doc/Core/index.html
* https://v3.ocaml.org/p/base/v0.15.0/doc/Base/index.html
* https://v3.ocaml.org/p/gg/1.0.0

This has happened a few times in the last couple of weeks. Not sure what

[2022-04-25 23:30] dracconi commented on #432
[code]

So I think the docs-data cert. is just expired?

As a temporary fix, one can access https://docs-data.ocaml.org/live/p/async/v0.15.0/doc/Async/index.html directly.

[2022-04-26 15:47] ztatlock commented on #432
Looks like things are back up! Thanks 🙏

[2022-04-26 15:47] #432 closed, assigned to nobody

[2022-04-29 12:26] gadmm commented on #203
I just tested the now live version of ocaml.org. The first issue is still present but it is pretty critical.

Some of the other issues are still present. I noticed that paragraph titles have been styled, thanks.

[2022-05-01 23:24] edwintorok opened #449 "404s on ocaml.org"
`linkchecker https://ocaml.org -Fhtml --threads 48` (note that check-extern will cause a lot of 429s from GitHub, so not used here):

I fixed 2 in https://github.com/ocaml/ocaml.org/pull/448, others I found so far:
[code]

[2022-05-01 23:25] edwintorok commented on #449
Is there a way to find these 404s at "build time", i.e. without a webserver and without using `linkchecker`? (at least it should be possible to verify the internal links in theory, but redirects/rewrites might make that more difficult)

[2022-05-02 08:51] TheLortex commented on #262
There was an issue in the CI that prevented builds on 4.14 but it's now fixed and the tezos packages documentations are correctly generated.

[2022-05-02 09:00] tmattio commented on #262
Thanks @TheLortex!

[2022-05-02 09:00] #262 closed, assigned to jonludlam

[2022-05-02 13:23] Leonidas-from-XIV opened #450 "`www` still serving v2 site"
As mentioned by [Haudegen](https://discuss.ocaml.org/t/v3-ocaml-org-we-are-live/9747/13) on the OCaml Discuss the `www` subdomain still shows the old v2 site. I am not sure whether it should display the v3 site here or redirect to it but that doesn't seem quite right.

[2022-05-04 14:53] mndrix opened #453 "RSS feed for OCaml Blog"
The [OCaml Blog](https://ocaml.org/blog) has some excellent content, however it appears not to publish an RSS feed of its own articles.  I searched the page for "rss" and "atom". I also examined the HTML looking for `<link rel="alternate" ...>`. If the blog has its own RSS feed, I couldn't find it.

Having an RSS or Atom feed that lists recent OCaml Blog articles, would make it easier for those us

[2022-05-04 20:45] tmattio commented on #453
There's no RSS feed for the blog at the moment, but it could be implemented relatively easily I think. We could take example from Mirage's website which has a similar tech stack and provides an RSS feed: https://github.com/mirage/mirage-www/blob/master/lib/mirageio.ml#L73

[2022-05-06 10:57] hannesm opened #456 "search for authors with non-ascii characters leads to 0 results"
I browse to https://ocaml.org/packages/search?q=author%3A%22reynir%40reynir.dk%22 which has 10 results.

Each result includes a link to search for the author, i.e. https://ocaml.org/packages/search?q=author%3A%22Reynir%20Bj%C3%B6rnsson%20%3Creynir%40reynir.dk%3E%22 -- but that leads to 0 results (whereas the above 10 results were expected).

[2022-05-06 17:29] tianqizhao-louis opened #457 "Repeated code in the documentation"
In the documentation of [language/If statements, loops, and recursions/mutually recursive functions](https://ocaml.org/docs/if-statements-and-loops#mutually-recursive-functions), it says "but there is a special syntax for defining a set of two or more mutually recursive functions", but the code block written below is the same as the code block above. It doesn't introduce any new special syntax. I

[2022-05-09 16:23] tmattio commented on #458
Hi @jteg68! Thanks for the report 🙂

A PR for it would be welcomed, let me know if I can give any pointers or if I can help with anything.

[2022-05-11 09:10] Khady opened #460 "Relative links in packages' readme are broken"
Some packages have a readme with relative links. It's common on github to point to sub directories. Unfortunately it doesn't work well once those readme are rendered on ocaml.org/p. For example https://ocaml.org/p/atdts/2.6.0 has a broken link https://ocaml.org/p/atdts/atdts

Original readme at https://github.com/ahrefs/atd

[2022-05-12 11:00] hyphenrf opened #461 "Playground does not scroll on large input"
Steps to reproduce:
- open playground
- paste a large-enough (around 40+ lines) ocaml file
- the text field overflows the rest of the fixed-size elements in the page

[2022-05-12 13:53] tmattio commented on #450
Thanks for the report @Leonidas-from-XIV, this is fixed now!

[2022-05-12 13:53] #450 closed, assigned to nobody

[2022-05-24 10:48] dbuenzli opened #465 "A lot of pages redirect to v2.ocaml.org"
I suspect this is not a name that is going to be stable in the future. Especially:

https://ocaml.org/manual/

Yet people will gleefuly share and embed the redirected address in the www which will yield 404 in the long term. Not a very good idea.

[2022-05-24 11:02] tmattio commented on #465
Thanks for the issue @dbuenzli!

I think it should, it's not much maintenance to keep it alive. In the long term, when we don't have any redirections to it, I think it'll still be a nice feature that people can explore the different versions of the website. (we should have `v1.ocaml.org`!)

To be safe, perhaps a better behavior would be to serve the manual directly from https://ocaml.org/manual/.

[2022-05-24 12:20] dbuenzli commented on #465
Certainly a good idea to confuse people and make them browse outdated information without noticing. Historians will be perfectly happy with a well indexed https://archive.org dataset.

For sure. For now this looks one of these corporate websites which are unable to serve clean url and redirect you ten times before getting to the actual page (you don't) want.

URLs are a user interfaces, and the on

[2022-05-30 19:51] JiaeK opened #469 "User-agent-parser package page's text is overflowing"
The [overview page](https://ocaml.org/p/user-agent-parser/0.2.0) of `user-agent-parser` package's text is currently overflowing like this:

![uap issue2](https://user-images.githubusercontent.com/78751231/171052221-4c9f03a5-d4e6-41a6-ac9e-8ca88f7d8243.png)

[2022-06-02 09:18] Khady opened #474 "Playground should provide a feedback when it runs"
I was giving a try to https://ocaml.org/play today. And ended up hitting the `run` button many times with the hope of something happening. My code didn't have side effect, so I couldn't see if anything was really happening. I later realized that even on bad code there's no feedback. For example if I change the example to add a typo and press the `run` button, nothing happens

[code]

[2022-06-04 16:16] avsm opened #480 "docs: right hand column is truncated at lg screen size"
See screenshot: on a desktop Safari browser, the right hand docs bar disappears at about 1000 px wide.

<img width="1351" alt="image" src="https://user-images.githubusercontent.com/53164/172015481-1c4593ae-e0e2-4a0e-ab83-c4513f973606.png">

[2022-06-07 10:27] tmattio commented on #479
Thanks!

[2022-06-07 14:17] tmattio commented on #457
I believe this has been fixed in #472.

[2022-06-07 14:17] #457 closed, assigned to nobody

[2022-06-07 14:19] tmattio commented on #337
We removed the homepage toplevel in favor of the playground.

[2022-06-07 14:19] #337 closed, assigned to nobody

[2022-06-10 13:08] Leonidas-from-XIV opened #486 "Package redirect not fully functional"
If I visit [ocaml.org/p/yojson](https://ocaml.org/p/yojson) I get redirected to the last release, which I think is a great feature to ensure stable URLs, I really enjoy this.

Unfortunately though if I visit [ocaml.org/p/yojson/](https://ocaml.org/p/yojson/) I get.. a page. Not a 404 page, not a redirect, just nothing.

I know that the URLs are not equivalent but it would be nice if the version wi

[2022-06-10 16:10] jonludlam commented on #203
I belive I noticed this missing preamble in passing when upstreaming into odoc - so it should be fixed in part by https://github.com/ocaml/odoc/pull/842

[2022-06-10 16:17] gadmm commented on #203
Do you mean with the title too? Please let me know when it is online so that I can have a look.

[2022-06-13 13:09] tmattio commented on #491
Thanks a lot @MirzaBabarBaig!

I tested and everything looks good. One small request: could you split the PR per issue/change next time? This helps for reviews and to keep the git history tidy.

[2022-06-13 13:10] #408 closed, assigned to nobody

[2022-06-13 13:10] #461 closed, assigned to nobody

[2022-06-13 13:10] #469 closed, assigned to nobody

[2022-06-13 13:10] #480 closed, assigned to nobody

[2022-06-13 13:17] tmattio commented on #490
Thanks a lot @joshniec 🙂

The solution didn't have to follow the behavior of `List.nth`, but I agree it's better to follow the same conventions as the standard library. I pushed your suggestion with a small fix in the exercise statement as well.

[2022-06-13 13:19] joshniec commented on #490
Thanks @tmattio!

[2022-06-13 14:03] #449 closed, assigned to nobody

[2022-06-15 12:04] reynir opened #494 "Add a tooltip for package documentation status"
I think it could help with a tooltip or some text to explain what the coloured dots mean.

https://github.com/ocaml/ocaml.org/blob/2f673ed2183c9f948b331f126dcf39bf52d2fa55/src/ocamlorg_frontend/layouts/package_layout.eml#L60-L70

[2022-06-16 12:40] avestura opened #496 "HTML in Preformatted code is rendered in docs page"
Even though `` exists on top of the pre-formatted text in documentation, the HTML is being rendered in the output.

For example:

https://github.com/ocaml/ocaml.org/blob/main/data/tutorials/lg_01_functional_programming.md?plain=1#L440-L453

## This is how the markdown should look like (Github's readme screenshot):

![image](https://user-images.githubusercontent.com/9091958/174071572-4ea1676e-f167-

[2022-06-17 11:40] tmattio commented on #389
We're working on re-thinking the overall design and sections of the homepage, so closing this for now

[2022-06-17 11:40] #389 closed, assigned to tmattio, joanmh123

[2022-06-17 11:41] tmattio commented on #390
@christinerose The issue doesn't have suggestions on new names for the navigation menu. Closing this for now, but feel free to re-open with the suggestions you were thinking about.

[2022-06-17 11:41] #390 closed, assigned to christinerose, joanmh123, ILeandersson

[2022-06-17 11:52] tmattio commented on #496
Omd should probably escape the special characters when transforming the document to HTML. cc @tatchi

[2022-06-19 06:48] koonwen commented on #486
Hello I'm a new contributor!

I took a look into this issue and it seems like there is already middleware that was set up to drop the trailing slash.  https://github.com/ocaml/ocaml.org/blob/8808e5c348efb4c49d67ba7771f490b360bb36b2/src/ocamlorg_web/lib/router.ml#L60-L70
However, after closer inspection of how Dream works, it seems that middleware is **only** run if there is a route in the scope th

[2022-06-27 04:18] ghost opened #506 "Document update using dune as primary build system?"
https://ocaml.org/docs/modules
The document is still base on ocamlopt , I guess it a bit out of sync modern OCaml world.
Now we using dune for every single , small or large project of OCaml.
So the question is , why not just teach user using dune as primary build system for learning OCaml.

I tried to learn OCaml to build with ocamlopt, but it hard to manage a real size OCaml project.
Dune looks a

[2022-06-27 04:18] ghost commented on #506
Ref: https://github.com/ocaml/ocaml/issues/11363

[2022-06-27 04:19] ghost commented on #506
For a better document explain OCaml coding right and correct, i suggest CS3110 book.
https://cs3110.github.io/textbook/cover.html

It show write OCaml with Dune build system as well.
How smart they are.

[2022-06-28 03:32] ghost opened #507 "data-types not covered with Optional type"
https://ocaml.org/docs/data-types

For real world OCaml code, we often using `option`

like example

[code]

Shall we please improve the document of the  data types, to show the power of OCaml `option` type?

OCaml has much more power, but document never told us. sigh..

[2022-06-30 14:59] MirzaBabarBaig opened #510 "Blog page - Page width needs to be 100% on mobile devices"
On https://ocaml.org/blog page width needs to be 100% on mobile devices currently got abnormal space on the right.

![Screenshot 2022-06-30 at 7 58 45 PM](https://user-images.githubusercontent.com/15120055/176710179-5fa16d53-cf75-4aa1-933f-6ca9a6eff62a.png)

[2022-06-30 15:28] MirzaBabarBaig opened #513 "Community Page - Events are not centred align if one event is available in a row."
On https://ocaml.org/community page event are not centred align if single event is available in a row.

![Screenshot 2022-06-30 at 8 25 50 PM](https://user-images.githubusercontent.com/15120055/176716065-4de60ae6-3553-4842-befc-07f5a70a0fc9.png)

[2022-07-04 09:06] tmattio commented on #514
@koonwen thanks a lot for investigating the issue in #486, do you want to have a look at this PR?

[2022-07-04 09:17] koonwen commented on #514
Sure! Let me have a look through

[2022-07-04 13:11] tmattio commented on #517
Thanks!

[2022-07-04 13:11] #456 closed, assigned to nobody

[2022-07-04 13:17] koonwen commented on #514
This solution is great! I didn't realize you could just install the Middleware to run globally. Thank you for sharing it! I'll snoop around and see if there are more issues that I can help out with!

[2022-07-04 13:21] tmattio commented on #506
Thanks for the report @cnmade, that sounds sensible, you're welcome to send a PR to improve the documentation with your suggestions 🙂

[2022-07-04 13:23] tmattio commented on #486
Fixed in #514

[2022-07-04 13:23] #486 closed, assigned to nobody

[2022-07-05 13:52] koonwen commented on #453
Hi! I'd like to work on this if nobody has started on it!

[2022-07-05 14:07] tmattio commented on #453
Thanks @koonwen! I think @MirzaBabarBaig started working on it?

[2022-07-05 14:24] #407 closed, assigned to nobody

[2022-07-06 09:11] tmattio commented on #453
@koonwen you can take over the issue if you want 🙂

[2022-07-06 12:52] koonwen commented on #453
Okay thanks! I'll start working on it.

[2022-07-06 20:15] #513 closed, assigned to nobody

[2022-07-06 20:15] tmattio commented on #520
Thanks @MirzaBabarBaig!

[2022-07-07 11:43] tmattio commented on #524
You can try using the (very experimental and unreleased) OCaml Platform installer: https://github.com/tarides/ocaml-platform-installer. Don't hesitate to leave feedback on the repo if you use it 🙂

[2022-07-07 12:52] koonwen commented on #524
Thanks for the pointers @tmattio, they are super helpful! I've made the changes you've suggested so that we are serving the /feed.xml directly from assets/. Let me know if there's anything I missed out!

[2022-07-07 13:57] koonwen commented on #524
Sure thing! I'll have another look at it!

[2022-07-07 14:39] tmattio commented on #453
Done in #524 and live at https://ocaml.org/feed.xml 🎉

[2022-07-07 14:39] #453 closed, assigned to nobody

[2022-07-07 16:25] brabalan commented on #453
Thank you! I confirm it works with my tiny tool to populate the OCaml Weekly News.

[2022-07-08 11:48] tmattio commented on #525
Looks great, thanks @christinerose!

[2022-07-11 15:47] koonwen commented on #523
Can I take this issue?

[2022-07-14 09:03] tmattio commented on #526
Brilliant! Thank you @koonwen!

I wanted to suggest that a better place for this could be in [Syndic](https://github.com/Cumulus/Syndic) itself, as it seems like something you'll want to do for every Atom feeds. But seeing that the last commit on Syndic was 3 years ago, let's merge this here for now. You can still open a PR on Syndic if you want and when it gets merged and released, we can remove

[2022-07-14 09:09] tmattio commented on #527
Thanks @complexsplit!

[2022-07-14 10:20] tmattio commented on #523
Sure @koonwen, a PR for this would be welcome!

I didn't have a look yet, but at first glance, that could quickly become a rabbit hole.. Don't hesitate if you need any pointers or help on this.

[2022-07-14 10:45] koonwen commented on #523
From what I understand, the reason why the anchors don't work is because the sections that we want to jump to are missing its corresponding <id> tag.

I'm thinking that the fix for this would also require a validation pass over the HTML body to ensure that the tags that the TOCs refer to contain the <id> tag. This could potentially cause a slowdown because we now need to add a parsing step dynamic

[2022-07-14 11:23] tmattio commented on #523
Are these working on the GitHub README? If yes, is it because GitHub is generating them or because there are on the README? If GitHub is generating them, we can do the same in the documentation pipeline: https://github.com/ocaml-doc/voodoo. This way we wouldn't have to add these dynamically.

[2022-07-14 15:12] koonwen commented on #523
Yup Github is generating them.

Just to clarify what you mean and our the site fetches pages from. Our site fetches pages built by this documentation CI repo https://github.com/ocurrent/ocaml-docs-ci which internally uses voodoo to generate the docs. So I should be adding the validation and tag generation to https://github.com/ocaml-doc/voodoo?

Also I couldn't figure out the domain where the docu

[2022-07-14 15:34] tmattio commented on #523
Right! That's what I was suggesting 🙂

Try accessing a file directly. To get the URL of a file in the docs server, you can take the target in the ocaml.org URL and append it to the `https://docs-data.ocaml.org/live/` URL. So for instance, the raw documentation for this page https://ocaml.org/p/alcotest/1.6.0/doc/Alcotest/index.html can be found at https://docs-data.ocaml.org/live/p/alcotest/1.6.0/

[2022-07-14 16:51] tmattio commented on #530
@koonwen I see that you've been quite active on the repository recently. Are you interested in reviewing this PR? 🙂

[2022-07-15 01:45] koonwen commented on #530
Sure thing! I'll have a look over the weekend 👍🏼

[2022-07-15 07:21] tmattio commented on #531
Hey @christinerose 🙂

It looks like this is adding the Tarides Dune 3 blog post to the site, which has been added already: https://tarides.com/blog/2022-07-12-faster-incremental-builds-with-dune-3

It should be safe to close this indeed!

[2022-07-15 08:37] dra27 commented on #530
Even on my Windows machine, this command is quite fast (15-25 seconds for the entire history). It's worth ensuring `diff.renamelimit` is at least 20000 so that it can cope with the OPAM 1.2.2 -> 2.0 migration in the history:

[code]

I then cheekily processed this output with awk:

[code]

but that should obviously be done in OCaml. A few notes:
- I'd suggest using `%ct` rather than `%at` - public

[2022-07-15 09:45] tmattio commented on #530
Thanks a lot for the review @dra27! I've updated the PR with your comments and this allows to move the population of timestamps at startup time instead of having a CI that generates a file: much more elegant!

[2022-07-18 06:34] dra27 commented on #530
I haven’t looked, but what prevents updating the code to cope with the new API and using the superior `(timedesc (>= 0.8.0))`?

[2022-07-18 07:33] koonwen commented on #530
The return value of one of the `Timedesc.to_iso8601` is just a string in (0.8.0) instead of a string option in (0.6.0)

Easily enough, in `src/dream_dashboard/template/overview_template.eml`, altering
[code]
to
[code]
seems to work as well, so this might be a better option

[2022-07-18 08:07] dra27 commented on #530
That seems better, yes - it doesn't look like the option-returning version is coming back (https://github.com/daypack-dev/timere/pull/53)

[2022-07-21 10:46] tmattio commented on #530
I applied the suggestions - thanks a lot for the review @koonwen and @dra27! 😁

[2022-07-21 11:10] tmattio commented on #532
Thanks @christinerose! I took the liberty of removing the added strength section for now, I think we can discuss this separately (in another PR).

The changes look good to me overall, however, I'd feel more comfortable with an additional review by someone more familiar than me with the history of OCaml. @dra27 or @gasche maybe?

Also, cc @jsomers since you worked on that page, don't hesitate if yo

[2022-07-21 19:45] gasche commented on #532
I've been asked for opinions, so here are some:

1. There is a webpage [A History of Caml](https://caml.inria.fr/about/history.en.html) that is authoritative -- it has been written by people who were around at the time. I would start from there if I want to check things, or ask Xavier Leroy directly. There is some additional content in the current page that comes from Real World OCaml and is harde

[2022-07-21 19:46] gasche commented on #532
(I think the OCaml release cycles are supposed to last six months, and I"m not sure whether this is contradictory with "yearly release cycles" -- does this mean "once a year" or "at least every year"?)

[2022-07-22 08:36] christinerose commented on #532
I tend to agree with #2. Perhaps we could point to The History of OCaml via link here. IMO, this page should focus solely on why engineers should learn OCaml. What makes it stand apart.

[2022-07-23 09:37] koonwen commented on #523
HI @tmattio, I'm gonna need a few more hints 😬. I think my understanding how the docs are hosted is unclear so I can't figure out where to add the anchor support.

I've been looking through https://github.com/ocaml-doc/voodoo but I can't seem to find where the repos README are being processed. It looks like it only generates the module documentation? I also tried to look into https://github.com/oc

[2022-07-23 15:47] jsomers commented on #532
I agree with @gasche's comments. This content was intentionally cut in my revision of the page, and I don't think these changes are an improvement.

[2022-07-25 11:03] ILeandersson commented on #532
Sounds like we want to have separate 'History of OCaml' and 'How to Use OCaml / Why OCaml'. That sounds good to me! To address @gasche's comments on sentences that don't clearly pull their weight, they're almost all put there to soften the tone and make it less harshly technical / academic.

We need to consider the needs of different kinds of audiences. If the audience is exclusively experienced e

[2022-07-25 11:04] christinerose commented on #532
Perhaps we could remove the history section in the current one as well. Just link to the [authoritative one](https://caml.inria.fr/about/history.en.html) @gasche recommended. What do you think @tmattio, @jsomers, & @ILeandersson ?

[2022-07-25 11:05] christinerose commented on #532
Totally agree here. This section needs to cater to beginners for our major OCaml 5.0 goal of adoption.

[2022-07-25 12:16] gasche commented on #532
(I'm in the delicate situation of commenting on work without having an idea of its authorship (the PR appears to aggregate contributions of several people) creation context, initial demand etc. Apologies if the feedback earlier was too dry or even insensitive.)

It's excellent to make the document more broadly accessible, but could "softening the tone" be done in part by reformulating existing con

[2022-07-25 12:27] ILeandersson commented on #532
Yes absolutely, I think that's an excellent idea! Let's make 'History of OCaml' and 'Why OCaml' two separate pages with separate goals. For 'Why OCaml' I'll revisit the text (@jsomers excellent work) and see if I can make some edits just to make it more accessible without changing the meaning, along with removing the historical aspects.

[2022-07-25 17:53] christinerose commented on #532
How very kind of you to say, @gasche. :) The scope has changed over the last 6 months, so your fresh eyes are welcome! Thank you so much for your comments and suggestions.

This is an excellent idea. I really love the thought of keeping them separate, as I'm hoping the "About OCaml" will inspire people to give OCaml a try if they haven't used it yet. Then if they want to do more of a deep dive / r

[2022-07-26 14:29] gasche opened #534 "(cross-ref) online OCaml manual: there should be an easy way to get a fixed-version URL"
This is a cross-reference to an issue with the OCaml manual which I posted upstream at

https://github.com/ocaml/ocaml/issues/11458

[2022-07-26 19:26] dbuenzli commented on #534
That's not even good. Here's a user interface you will remember without effort (and these `v2` should go #465):

* https://ocaml.org/manual -- HTTP 303 --> https://ocaml.org/manual/latest
* https://ocaml.org/manual/latest
* https://ocaml.org/manual/$(VERSION)

After all these years of efforts on the ocaml website that's something simple and obvious we could expect.

[2022-07-26 20:24] gasche commented on #534
Actually grepping through the ocaml.org sources, it looks like a "latest" schema is already supported

https://github.com/ocaml/ocaml.org/blob/0b9086770d29b45fc8a1dc69dcc580330ba83ecd/src/ocamlorg_frontend/url.ml#L22-L26

(but weirdly enough the "latest" and "with_version" URLs have different structure)

The problem is that the search engine has indexed URLs with another structure ("ocaml manual"

[2022-07-26 20:24] gasche commented on #534
Aha, years of effort on the compilers as well and many "obvious" (... once you are told about them) usability things are missing.

[2022-07-26 20:39] dbuenzli commented on #534
Well tracking manuals and release notes (which became even worse in this incarnation of the website) is an old age issue https://github.com/ocaml/v2.ocaml.org/issues/1128. If you start something over it's usually good to have a look at past issues.

[2022-07-29 13:22] voodoos commented on #536
@tmattio could you enable the CI ?

[2022-08-01 10:01] tmattio commented on #536
Thanks a lot @voodoos, this is a huge improvement on the playground! 🎉

I tested it and it works really well! 🙂

One suggestion I have would be to have a "Problems" panel alongside the "Output" one to list all the errors detected by Merlin. That can come in another PR though.

I'm slightly concerned about the asset size. I don't think it will be a blocker since we're already sending a 3mb file...

[2022-08-01 13:19] voodoos commented on #536
Agreed that it would be very nice! However I probably won't be able to work on it anytime soon...

I think it is a fairly small bundle regarding what's in: the complete collection of the Stdlib's CMTs.
I don't see how we could easily decrease it further. We could eventually load the CMTs asynchronously (it is 90% of the size of the bundle). But I don't think it is really worth it. Improvement coul

[2022-08-01 14:13] panglesd commented on #535
Thanks a lot for the review! I implemented most of them, sometimes as is and sometimes rewriting the suggestion a bit!

[2022-08-02 16:51] panglesd commented on #535
Thanks a lot for the very complete review!

That's mostly about my background (even though I don't know C very well, it is the only other programming language where I know a little bit of the preprocessing system)...
If you know a bit of the other preprocessing system, let me know how to incorporate other examples or insight!

I really don't see this guide as a "how to" guide, just telling: "write

[2022-08-03 13:03] panglesd commented on #535
Thanks again @christinerose for your last review!

[2022-08-04 14:41] pitag-ha commented on #535
Thanks for all the nice improvements, @panglesd!

If you know a bit of the other preprocessing system, let me know how to incorporate other examples or insight!

The problem is that I only know very little about the other preprocessing systems and only about usage, not about implementation details. However, I remember that my (first) questions about PPX were/are not why they act on the AST as oppo

[2022-08-04 14:49] pitag-ha commented on #535
Oh, just to clarify: I didn't want to suggest adding answers to the questions I asked in the comment above to this document. I just wanted to point out that depending on the background of the reader, the doubts they'll have about PPX can be very different. But of course, it's still far better to clear all doubts for those who mostly know C than not clearing the doubts of anyone! So this is a reall

[2022-08-05 13:08] panglesd commented on #535
Thanks for the very interesting comments. It made me document myself a bit on Rust macros and I now share some of your questions. I adapted the document. I hope I managed to answer at least the first question:

    If so, what does that difference consist in?

(In Rust, macros are part of the language, controlling what you can do. In OCaml, PPXes are standalone programs, that can do anything. Ppxl

[2022-08-05 20:14] pitag-ha commented on #535
PD: with the comment about content in the `deriving_inline` section, I was referring to the one at the beginning of that section, not to the one at the very end of the section.

[2022-08-08 14:07] tmattio commented on #538
Thanks a lot @Leonidas-from-XIV!

A couple of thoughts:

- Let's keep the list of featured books to 3 so as to keep the Learn page to a reasonable size. I'd suggest removing More OCaml from the list and add OCaml Scientific Computing instead. More OCaml and OCaml From the Very Beginning are from the same author and I think featuring a books for beginners makes a bit more sense that an advanced one

[2022-08-08 14:14] Leonidas-from-XIV commented on #538
Very good points, I've added these. Especially the long wall of text was actually more hurting than helping.

What I am somewhat unclear is how to find the books that are not featured. And who decides how on the amount of stars awarded to each book.

[2022-08-08 14:21] tmattio commented on #538
Thanks! I've pushed a fix for the layout on the Learn page and updated the link's name. This is ready to go 🙂

They can be found at https://ocaml.org/books, which is linked in the footer, the Learn OCaml page, and the different resources sections (homepage, industrial users, etc.)

They are taken from the books' Amazon page IIRC.

[2022-08-09 13:48] tmattio commented on #536
I agree on keeping the workers separate. I've moved the toplevel worker initialisation so we don't wait for it to paint the editor. It would still be nice to investigate wether we can reduce the bundle sizes further, but since the workers are loaded async, let's not block the PR for this.

This is ready to go I think, thanks again for all your work on this :grin:

[2022-08-10 17:13] leahneukirchen opened #550 "inbox.ocaml.org down?"
Hi,

I'm unable to connect to https://inbox.ocaml.org/ since August 1st, is the service still up?

[2022-08-22 08:13] panglesd commented on #535
Thanks again a lot to both of you for the review and comments. I've answered or followed your suggestions!

Before merging, however, I'll need to add a commit to remove all lines exceeding 80 chars (I haven't done it yet to keep the diffs meaningful!)

[2022-08-22 08:22] Julow commented on #535
Please don't. I too prefer a line length limit but the price to pay is not worth it. As you said, it makes the diffs less meaningful. Also, it impacts the future modifications, which will need to reflow the text and have worse diff again.

The inconsistency in line length is everywhere already, let's give up the line length limit.

[2022-08-22 18:53] jfeser opened #558 "Missing documentation"
Documentation on package pages seems to be missing. For example, https://ocaml.org/p/core_kernel/v0.14.0/doc/index.html.

[2022-08-23 05:27] tlh24 commented on #558
In the meantime, you can look at the older documentation here, e.g. https://ocaml.janestreet.com/ocaml-core/v0.14/doc/core/index.html

[2022-08-23 12:26] panglesd commented on #554
Hello Jonah!

In your #539 PR, you made some modifications of the "Up and Running" page, such as [this](https://github.com/ocaml/ocaml.org/pull/539/files#diff-44f515a168909c4a0e9f01572c33dca592a072b7b75cff4671730b2bdcc7497fR16-R21) or [that](https://github.com/ocaml/ocaml.org/pull/539/files#diff-44f515a168909c4a0e9f01572c33dca592a072b7b75cff4671730b2bdcc7497fL44-R55) and maybe more.

You did not i

[2022-08-23 13:18] jonahbeckford commented on #554
Can you include them in #548? Not for any noble reason, but because I'm on vacation for a couple weeks and waiting for me to get access to a `make start` capable PC will block everyone needlessly.

[2022-08-23 14:05] panglesd commented on #554
Sure! Thanks for your answer and enjoy your vacation.

[2022-08-24 14:15] panglesd opened #559 "Highlighting other languages, such as "shell session" in tutorials"
Currently, if I understand well, only ocaml-related syntax is highlighted, such as interface/implementation ocaml file, opam file and dune file.

However, highlighting for "shell session" could be nice to have, for example in the tutorials on setting the ocaml environment up, where there are several commands to run displayed.

Using highlight-js could render as follows (theme chosen at random):
![

[2022-08-25 12:50] voodoos commented on #560
Duplicate of https://github.com/ocaml/ocaml.org/issues/558

There is definitely an issue, not sure who we could ping, maybe @tmattio, @TheLortex ?

[2022-08-25 13:24] jonludlam commented on #560
We're having a look - thanks!

[2022-08-26 16:41] dangdennis commented on #560
It's back now! Thanks. What was the issue?

[2022-08-31 14:44] tmattio commented on #535
Thank you so much for the amazing work @panglesd and the very careful review @pitag-ha @Julow @christinerose, this looks ready, so merging now 🚀

[2022-08-31 15:26] #510 closed, assigned to nobody

[2022-09-01 10:15] #402 closed, assigned to nobody

[2022-09-01 10:21] tmattio commented on #556
Thank you both!

[2022-09-01 10:25] tmattio commented on #560
The issue seems to be resolved, thanks!
I'll close the issue, but feel free to give some details on what went wrong @jonludlam

[2022-09-01 10:27] tmattio commented on #558
The issue has been resolved, sorry for the inconvenience!

[2022-09-01 10:27] #558 closed, assigned to nobody

[2022-09-01 10:27] tmattio commented on #550
@tmcgilchrist is this intentional?

[2022-09-02 10:49] gasche commented on #562
Note: @dra27 while you are at it, it might be that the Windows part of this page would benefit from a refresh as well: it links to the fdopen repository, which itself includes a large banner that it is discontinued, this could be worrying for users. Maybe for now removing the "if you need Windows binaries" paragraph would be the safer choice. (I guess this is a separate issue / separate PR, but yo

[2022-09-02 10:50] gasche commented on #562
(Regarding Windows, the [Diskuv installer](https://github.com/diskuv/dkml-installer-ocaml) may deserve a mention, but it may be a bit experimental still -- as everything on Windows I guess.)

[2022-09-02 11:16] dra27 commented on #562
This isn't _precisely_ the time/place to sort out the Windows part! I'm presently doing quite a good "cat typing at the keyboard" act, and the Windows OCaml packages are part of that (being tied in with both opam 2.2 and relocatable compiler). See also https://github.com/ocaml/ocaml.org/pull/554

[2022-09-02 12:59] panglesd commented on #563
Looks good to me!

Note that in https://ocaml.org/docs/metaprogramming, there is no mention of `camlp4` and `omp`, which are also removed from the platform.

[2022-09-02 13:06] tmattio commented on #563
Good catch, perhaps we should add a note in that document mentioning that they were the previously recommended methods?

[2022-09-02 14:21] tmattio commented on #562
Thanks @dra27!

We had rewritten a large part of the Up and Running tutorial to make it more accessible to beginners, and it seems that your first commit had been addressed while doing so.

I've just merged the new version in https://github.com/ocaml/ocaml.org/pull/565 and rebased your PR on top of it. Let me know if the new diff looks good to you and I can merge the PR 🙂

[2022-09-02 14:38] panglesd commented on #563
I will try to add a mention on this without interrupting the flow of the guide!

[2022-09-02 16:10] dra27 commented on #562
Even better, yes!

[2022-09-02 16:32] patricoferris commented on #559
https://github.com/patricoferris/hilite/pull/4 adds basic support inn hilite for bash/shell -- works for comments but most things just get shell source. Some examples:

<img width="831" alt="Screenshot 2022-09-02 at 17 31 56" src="https://user-images.githubusercontent.com/20166594/188198537-8ad40ff9-ae41-40e3-8ddc-e1edfd0c595d.png">

<img width="842" alt="Screenshot 2022-09-02 at 17 32 29" src="ht

[2022-09-08 16:35] tmattio commented on #564
Thanks @cuihtlauac! I took the liberty to push [67eb6e9](https://github.com/ocaml/ocaml.org/pull/564/commits/67eb6e9de8a317b8773a79d135132866efbaffcd) with some cosmetic changes, essentially to rename the `*_file` functions to `*_filename`. Let me know if that looks ok to you and this is ready to merge!

[2022-09-09 10:00] cuihtlauac commented on #564
Excellent, maybe_files is indeed much better your way, many thanks. Let's go for this

[2022-09-09 19:05] gadmm commented on #203
Checking again, the critical issue of the title and the first paragraph missing is still there :) (compare [old](https://guillaume.munch.name/software/ocaml/memprof-limits/recovering.html) vs. [new](https://v3.ocaml.org/p/memprof-limits/0.2.0/doc/recovering.html))

In addition the new title is odd ("module recovering.html").

[2022-09-22 11:04] sabine commented on #553
IMO, comprehensive tutorials like this one stand on the same level as books, so the best place to add them is probably on the main "Learn" page https://ocaml.org/docs?

- [ ] add [Better Programming Through OCaml](https://cs3110.github.io/textbook/chapters/intro/intro.html) to "Learn" page. Do we need a section for tutorials, in addition to the books section?

Agreed, promising someone can do it i

[2022-09-22 11:24] tmattio commented on #553
Thanks a lot for the thorough review @sabine and the fantastic work as always @christinerose!

I noticed that the PR is a bit outdated: it contains patches that have been merged already, so all the suggestions on the Up and Running guide can probably go in a separate PR. We can then rebase this one to only keep the changes on the First Hour with OCaml documentation.

[2022-09-23 07:18] sabine commented on #494
@reynir thank you for reporting, it helps us see what the most irritating issues are.

In the situation where we can't provide docs for some reason, I made the "Documentation" tab inactive and added a tooltip to explain the problem (#580).

[2022-09-24 08:41] tmattio commented on #554
@jonahbeckford I just rebased the PR on top of main. In anticipation of the release of opam 2.2: I think this will also need an update to the Up and Running guide, which now recommends using Diskuv to setup OCaml on Windows

[2022-09-24 08:45] tmattio commented on #532
Looks like the PR won't be merged in its current state. I'm closing it for now as I'm cleaning up the open PRs, but feel free to open a new one with the suggestions above! Thanks everyone for the feedback 🙂

[2022-09-24 09:23] christinerose commented on #532
Okay. I’ll review all this and open a new PR if necessary.

[2022-09-24 10:13] JiaeK opened #582 "Suggestion: add more info to exercises page like v2"
Current [exercises](https://ocaml.org/problems) page on ocaml.org has no explanation like [version 2](https://v2.ocaml.org/learn/tutorials/99problems.html) (like below captured pic),

![99 problems](https://user-images.githubusercontent.com/78751231/192072518-6c1143af-96b1-4197-b2e2-ef8a84e7cff5.png)

and it would be nice to have the original story again and mention Victor Nicollet & their GitHub

[2022-09-26 06:16] #494 closed, assigned to nobody

[2022-09-28 13:03] avsm commented on #535
Well done on getting this guide onto the website, it reads very well! Would someone be able to post to discuss.ocaml.org to note that it now exists? It's hard to discover otherwise, as there's no "news" section of the ocaml.org website that would let people discover this new content without subscribing directly to this PR feed.

[2022-09-30 08:31] panglesd commented on #535
Yes, I can write a discuss post. Thanks for the idea!

[2022-09-30 12:22] Leonidas-from-XIV opened #588 "Documentation generation failed for temporary reasons"
I was looking to check out the [documentation of sexplib](https://v3.ocaml.org/p/sexplib/v0.15.1/doc/index.html) but the build failed because of issues resolving the packages needed to build the documentation:

[code]

It seems like a temporary issue with the Debian mirror system, so it would be good to have a way to detect this and attempt to re-run it at a later point in time.

cc @TheLortex

[2022-09-30 14:38] kayceesrk opened #590 "Information about OCaml 5"
Currently ocaml.org does not talk about the next major release of the OCaml programming language, OCaml 5. Given that alpha releases are out, it may be useful to have it featured prominently so as to encourage early adopters to try it out.

We may consider including a "Try OCaml 5.0" banner that links to the current, up to date installation instructions.

This was brought up originally in https://

[2022-09-30 14:48] avsm commented on #590
The 5.0 beta is the best time to put this on ocaml.org; the alpha contains a number of breaking changes.

@kayceesrk would it be possible to correct the existing materials to point to the right instructions; e.g.
- https://github.com/ocaml-multicore/parallel-programming-in-multicore-ocaml (refers to 5.0.0+trunk)
- ttps://github.com/ocaml-multicore/multicore-opam is now deprecated so should push a

[2022-09-30 14:49] Octachron commented on #590
Like I said in the discuss thread, I have a slight preference for waiting for the beta releases before encouraging more widely people to try OCaml 5. However, the first beta releases are quite close and it definitively make sense to start working now on the ocaml.org announce for the beta.

[2022-09-30 16:10] avsm commented on #550
@leahneukirchen sorry about this -- we're working on bringing it back up asap. If you need the archives in the meanwhile, there's a snapshot up to 2018 in https://github.com/nojb/caml-list.

[2022-09-30 22:33] leahneukirchen commented on #550
I run a mirror at https://inbox.vuxu.org/caml-list/ anyway. I hope the missing mails are backfilled. :)

[2022-10-13 06:32] #590 closed, assigned to nobody

[2022-10-13 06:33] #582 closed, assigned to nobody

[2022-10-20 12:10] MisterDA opened #612 "Docs: improve rendering of markdown READMEs"
Hi all,
I've noticed a couple of issues with the way markdown READMEs are rendered. Most of the packages are hosted on GitHub, so I think it makes sense to mimic as much as possible how GitHub renders them, for consistency.

Let's have a look at how the [alcotest-lwt](https://ocaml.org/p/alcotest-lwt/1.6.0) package overview is rendered.

GFM is the name of the GitHub Flavored Markdown dialect.

1.

[2022-11-01 18:27] d4h0 opened #618 "Docs: Headings should be formatted as links (so they can be referenced easily)"
Hi,

On https://ocaml.org/docs/up-and-running (and I assume similar pages) the headings are not HTML links – although they seem to have all `id` attributes assigned (which make them linkable).

For example, currently there is the `Installing OCaml` heading, which has an `id` attribute with the value `installing-ocaml`, which can be linked via `https://ocaml.org/docs/up-and-running#installing-ocaml

[2022-11-02 09:11] cuihtlauac commented on #618
Hi, thanks for reporting this.

You write:

However, the "ON THIS PAGE" section has URI fragments links pointing to the headers such as:
[code]
Isn't it what you are looking for?

Am I correct to assume you would also like to have those links available in the main text too? In the Android API reference, there is a button at the side of the heading text allowing to copy the URI fragment link, see f

[2022-11-02 09:42] d4h0 commented on #618
Yes, that would work, too... :)

However, on my 14-inch display at a zoom level of 100%, this section is not visible... ;)

Even after you mentioned the "ON THIS PAGE" section, I had to look at the source code to find it.

The lack of a TOC was actually another issue I had with the documentation :)

One potential solution would be to move the TOC to the left side menu, similar to what ReScript doe

[2022-11-02 09:43] cuihtlauac commented on #612
Hi @MisterDA, thanks for reporting this. I believe you're right, items 1 to 3 are bugs indeed.

[2022-11-02 09:58] cuihtlauac commented on #618
Now I understand your point w.r.t. heading links, "ON THIS PAGE" and ToC. It's all related. I believe you have a valid point; thanks again.

In rescript and in Android, I see the heading link as a button at the side. I must admit I haven't ever seen the design you would like to experience. Can you share an example of it?

I'm considering splitting the matter into two parts.

1. Merging "ON THIS PA

[2022-11-02 10:08] d4h0 commented on #618
The Rust docs would be such an example:

https://doc.rust-lang.org/std/

Rust has a strong focus on user experience, so getting inspiration from there is probably not the worst thing someone could do... ;)

Yes, that would make sense.

[2022-11-02 11:16] cuihtlauac opened #619 "Migrate "ON THIS PAGE" inside the ToC navmap"
It makes more sense to have all the navigation information in one single place.

Additionally, on small screens, the "IN THIS PAGE" section is not visible.

Isn't it what you are looking for?

Thanks to @d4h0 for initially reporting this on https://github.com/ocaml/ocaml.org/issues/618. This issue deals with the first half of it.

[2022-11-02 11:19] cuihtlauac opened #620 "Turn headings into links"
Turning headings into links, as Rust documentation does:

https://doc.rust-lang.org/std/

allows easy sharing/bookmarking of sections.

Thanks to @d4h0 for initially reporting this on https://github.com/ocaml/ocaml.org/issues/618. This issue deals with the second half of it.

[2022-11-02 11:20] cuihtlauac commented on #618
Replaced by the following issues:
1. https://github.com/ocaml/ocaml.org/issues/619
2. https://github.com/ocaml/ocaml.org/issues/620

[2022-11-04 17:28] MdeLv opened #623 "Usability problem in documentation: Side menu position is reset when selecting a module."
For example, when using [documentation for ocaml-compiler 4.07.1](https://ocaml.org/p/ocaml-base-compiler/4.07.1/) :
You select Library ocamlcommon, then module Env (on left side/"Module" to develop not on right sode/"Env" that would jump to module Env's signature), then you select its module PathMap.

Module Env.PathMap signature is displayed as expected, but the vertical position of the side men

[2022-11-04 17:33] cuihtlauac commented on #623
Hi @MdeLv, thanks for reporting this. You're right, this is painful. We need to sort this out.

[2022-11-14 12:06] cuihtlauac opened #624 "Markdown broken links"
When displayed in GitHub, the markdown files of a repository are displayed as HTML. However, no URL processing is performed on links. Therefore relative links will happily point to other documents of the GitHub repo. This no longer works when those files are displayed in [ocaml.org](http://ocaml.org/). I've observed three reasons:
1. Some markdowns are not processed by odoc/voodoo. Therefore they

[2022-11-14 13:42] cuihtlauac commented on #612
Item #3 is not an upstream issue. The CSS is faulty. This PR fixes the issue: https://github.com/ocaml/ocaml.org/pull/625

[2022-11-15 10:23] cuihtlauac commented on #620
PR: https://github.com/ocaml/ocaml.org/pull/628

[2022-11-15 11:04] DrTobe opened #629 "`opam install graphics` in the "A First Hour with OCaml" tutorial requires logout+login on MacOS"
I have been following the "A First Hour with OCaml" tutorial on MacOS. In the "A Module From Opam" section, I installed the `graphics` module which automatically checks that XQuartz is installed and offers to install it if not found. Unfortunately, this was not enough to run the examples below because XQuartz apparently needs logout+login to be usable. There is no helpful error message so this fee

[2022-11-15 11:08] DrTobe commented on #629
Please ignore this. I checked again and there _is_ a "installer: The install requires logging out now." line.

[2022-11-15 11:08] #629 closed, assigned to nobody

[2022-11-15 13:46] cuihtlauac commented on #624
Related: https://github.com/ocaml/ocaml.org/issues/460

[2022-11-17 08:00] sabine commented on #534
https://ocaml.org/manual - HTTP 302 -> https://ocaml.org/manual/$(VERSION)
https://ocaml.org/manual/latest - HTTP 302 -> https://ocaml.org/manual/$(VERSION)
https://ocaml.org/manual/$(VERSION) serves the actual content and is to be indexed by search engines

Why?

1. We should have only place where the manual for a particular version is being served, or else we have to use the rel="canonical" link

[2022-11-17 08:14] gasche commented on #534
All your proposals are definitive improvements, and I'm in favor of any.
(Any opinion on what the gray "version 4.14" link in the top left corner should point to?)

@sabine with the scheme that you propose, users will frequently end up on manual pages that are not the latest version. We need the UI to make it clear, and provide an easy way to jump to the "latest" version of the page if it exists.

[2022-11-17 08:17] Julow commented on #534
This should be solved with a select element on the page, right ? I'm not a fan of having the same content on two URLs and definitely prefer the redirection `latest -> specific version`, as long as we can make that clear inside the page.

[2022-11-17 08:26] gasche commented on #534
Sure, and I think "a select element on the page" is possibly the right thing to replace the current "version 4.14" link that goes to a probably-not-what-you-were-hoping place. But the UI needs a bit of care, because just listing all available versions is very noisy. For example the [dune documentation](https://dune.readthedocs.io/en/stable/) offers exactly two links in its selection panel (reachab

[2022-11-17 08:27] sabine commented on #534
Agree that the manual UI should refer to "latest" version and
1. make it easy to get a link to https://ocaml.org/manual/latest, if that's the intent of the user sharing the link. In many cases, content is written and questions are answered relating to a particular OCaml version, and thus, encouraging people to link the versioned URL by technical means makes sense. However, the use case where you w

[2022-11-17 08:34] Julow commented on #534
Good idea! A banner kind of element that's hard to miss should explain that.

Yes, the "latest" url should be written down on the page somewhere. I suggest that in the version selector, the "Latest" link should use it.

[2022-11-17 09:02] sabine commented on #534
![Screenshot from 2022-11-17 09-53-45](https://user-images.githubusercontent.com/6594573/202400866-aa0df785-4771-4f61-8851-b20c03eab720.png)
![Screenshot from 2022-11-17 09-53-52](https://user-images.githubusercontent.com/6594573/202400868-c4d57713-d218-4ce1-80f7-92a4002f67e0.png)

I'm currently sketching navbar ideas, these are not final by any means.

![Screenshot from 2022-11-17 10-01-00](https

[2022-11-17 09:18] gasche commented on #534
Yes.

Regarding your mockup: I'm not sure what "copy link to latest version" is doing / is for. The "jump to latest version" is nice; it could be useful to give the latest version number there. This makes for a long button, so maybe "version" could be moved before the select element instead.

"OCaml language manual       version 4.13.1 ▼       Jump to latest (5.0.0)"

"OCaml language manual       

[2022-11-17 09:38] sabine commented on #534
![Screenshot from 2022-11-17 10-26-50](https://user-images.githubusercontent.com/6594573/202408131-ff4da9f4-3b87-40c5-a50a-e9d5ebb88277.png)
or
![Screenshot from 2022-11-17 10-31-56](https://user-images.githubusercontent.com/6594573/202409302-6b7e10e4-3a69-4ba8-8289-a5fe3ef2c2a8.png)
together with
![Screenshot from 2022-11-17 10-28-25](https://user-images.githubusercontent.com/6594573/202408335-d1

[2022-11-17 09:40] dbuenzli commented on #534
You can likely drop the `Jump to`.

[2022-11-17 09:56] gasche commented on #534
So if I understand correctly, "copy link to this version" is intended to fix the issue that, with your proposed URL rewriting scheme, it is not easy to get hold of the fixed-version URL of the manual when the version happens to be the latest version". "to this version" means "to this specific version rather than the time-varying 'latest' link that is in your URL bar".

Another proposal to fix this

[2022-11-17 10:53] sabine commented on #534
@gasche Alright, having latest and all versions exist at the same time is reasonable, and indeed, then the version dropdown leads to the specific version URL in case the user wants to share that. :+1:

There's two ways how to get a permalink when you need one (version switcher and permalink button) and they are both discoverable. :+1:

Search engines index https://ocaml.org/manual/latest only, to

[2022-11-17 11:23] dbuenzli commented on #534
When you are on the latest version there should be no actionable item to the latest version to make it clear you are already there.

I wouldn't however recommend a disabled button. That's the kind of problems you run into when links are styled to look like buttons which is bad usability. Buttons are for actions, not for navigation.

If these were links you would generally have a link on `latest (5

[2022-11-17 12:24] gasche commented on #534
@dbuenzli when you are on manual/5.0.0, the "latest" link goes to manual/latest, which is a different URL. When you are on manual/latest, "permalink" goes to manual/5.0.0. I don't have a strong opinion on whether the "latest" link should be less visible when you are on the fixed-latest version, but I suspect that uniform behavior is better than special cases here.

[2022-11-17 12:30] dbuenzli commented on #534
As long as that one does not redirect on the one you are on that's ok – I thought that was the case.

[2022-11-17 12:32] sabine commented on #534
@dbuenzli You're correct that call-to-action buttons should have text that describes what will happen, because buttons could be doing all kinds of things other than nav. I was wrong to shorten it to a description of the target location. We can make the link to latest on the explicit-version URL of the latest version a regular nav item:
![Screenshot from 2022-11-17 13-08-58](https://user-images.git

[2022-11-17 13:10] cuihtlauac commented on #534
@sabine can you explain why the `rel="canonical"` option is not good?

[2022-11-17 13:26] sabine commented on #534
`rel="canonical"` is a perfectly good way to make sure only https://ocaml.org/manual/latest gets indexed. For that, we need to modify manual HTML generation to include the `rel="canonical"` link. The only question is what can we deploy faster: update the manual HTML generation to include `rel="canonical"` or configure `robots.txt`.

As soon as search engines index multiple manual versions, they wi

[2022-11-17 14:03] cuihtlauac commented on #534
Thanks for the explanation, @sabine.

On scenario A / `https://ocaml.org/manual/latest`: labelling the permalink as “version permalink” or “5.0.0 permalink” may help to understand it's not pointing to the address of the page.

I also support what @dbuenzli wrote:

Assuming “latest” in the above means `/x.y.z` (as opposed to `/latest`).

[2022-11-18 15:32] cuihtlauac opened #630 "Markdown/HTML files rendered as “modules” in /doc"
When looking at project documentation files using their `/doc` path, they appear as if they were modules.

Here are a couple of examples:

* https://ocaml.org/p/memprof-limits/0.2.0/doc/recovering.html
* https://ocaml.org/p/omd/2.0.0~alpha2/doc/README.md.html
* https://ocaml.org/p/omd/2.0.0~alpha2/doc/CHANGES.md.html
* https://ocaml.org/p/omd/2.0.0~alpha2/doc/LICENSE.html

The faulty code seems to

[2022-11-18 15:40] sabine commented on #630
A patch for this is is upcoming. When odoc emits HTML-fragments+metadata, we get both the missing preamble back and ocaml.org will no longer parse the breadcrumbs from the URL path (the metadata includes correct breadcrumbs). :+1:

[2022-11-21 16:10] cuihtlauac opened #631 "Menhir & publish documentation are empty"
Check here:

https://ocaml.org/p/menhir/20220210/doc/index.html
https://ocaml.org/p/publish/0.3.4+transition/doc/index.html

Possibly related with:
* https://github.com/ocaml-doc/voodoo/issues/18
* https://github.com/ocaml-doc/voodoo/issues/16

[2022-11-23 17:17] sabine commented on #630
Duplicate of https://github.com/ocaml/ocaml.org/issues/583

[2022-11-23 17:19] #630 closed, assigned to sabine

[2022-11-23 17:37] sabine commented on #623
@MdeLv we currently have a patch on https://staging.ocaml.org which slightly reduces the problem (by hiding the other libraries and rendering a more compact view of the tree). This is work in progress that can change any time.

The ocaml compiler has a lot of modules in some of its libraries and I agree, it's quite painful to see so many items in a tree view. Definitely open to ideas how to better

[2022-11-24 10:08] cuihtlauac commented on #559
Pending on availability of hilite 0.1.1.
https://github.com/ocaml/opam-repository/pull/22551

[2022-11-24 10:15] cuihtlauac commented on #496
Direct link to faulty rendering: https://ocaml.org/docs/functional-programming#aliases-for-function-names-and-arguments

[2022-11-24 10:19] cuihtlauac commented on #496
[Hilite](https://github.com/patricoferris/hilite) is the faulty component.

Removing highlighting removes colors and faulty behaviour

[code]
w/ hilite:
![Screenshot_2022-11-24_11-20-31](https://user-images.githubusercontent.com/1917592/203759787-30a3f446-ed63-429a-95dd-8e809c2c3b90.png)
w/o hilite:
![Screenshot_2022-11-24_11-21-01](https://user-images.githubusercontent.com/1917592/203759772-ef0ef

[2022-11-24 14:34] cuihtlauac commented on #496
PR in Hilite: https://github.com/patricoferris/hilite/pull/5

[2022-11-24 16:19] cuihtlauac commented on #392
This issue seems to be resolved, I suggest we close it.

[2022-11-25 09:42] cuihtlauac commented on #623
Tutorials are also affected by this problem.

[2022-11-25 11:21] jmid opened #635 "Broken internal #initialising-opam anchor"
I was just visiting https://ocaml.org/docs/up-and-running

When I was here https://ocaml.org/docs/up-and-running#installation-for-unix
I read `After having installed opam, you will need to initialise it, see below.` and clicked [see below].
It points to `#initialising-opam` (dead) and should instead point to `#initialising-opam-on-unix` I think.

[2022-11-25 12:59] cuihtlauac commented on #635
Thanks @jmid. You're right. Fix: https://github.com/ocaml/ocaml.org/pull/636

[2022-11-25 13:14] #635 closed, assigned to nobody

[2022-11-25 16:28] cuihtlauac opened #638 "Broken links"
Page https://ocaml.org/docs/metaprogramming#extension-nodes-and-extenders contains two broken links to https://ocaml.org/docs/ocaml.org (spotted by ahrefs).

![Screenshot_2022-11-25_16-31-46](https://user-images.githubusercontent.com/1917592/204016737-c2e50952-6e83-4825-8fe2-641d1acd3dae.png)

HTML code:
[code]
Markdown code:
[code]

[2022-11-25 16:35] cuihtlauac commented on #638
Probably duplicate of: https://github.com/ocaml/ocaml.org/issues/496

[2022-11-28 12:51] sabine commented on #400
The root cause of this seems to be that the preamble of a module is missing. Reported also in https://github.com/ocaml/ocaml.org/issues/203

[2022-11-29 18:04] reynir opened #644 "Add OCaml 5.0.0 second beta release news"
I was looking for the announcement of the second beta release on the website and didn't find it. It's on the discuss forum, though.

https://discuss.ocaml.org/t/ocaml-5-0-0-second-beta-release/10871

[2022-11-30 07:54] cuihtlauac commented on #644
Thanks @reynir. It's coming

[2022-11-30 14:12] #507 closed, assigned to cuihtlauac

[2022-11-30 17:02] cuihtlauac opened #648 "Accept science paper data in bibtex format"
@Octachron idea, see: https://github.com/ocaml/ocaml.org/pull/647#issuecomment-1332414522

bibtex is the academic standard; using it would streamline the process and reduce the risk of errors.

@Octachron wrote:

@cuihtlauac wrote:

@Octachron wrote:

[2022-11-30 17:03] cuihtlauac opened #649 "Sort science papers in reverse chronological order"
Show fresh papers first.

See: https://github.com/ocaml/ocaml.org/pull/647#issuecomment-1332220532

[2022-11-30 17:57] #644 closed, assigned to cuihtlauac